openapi: 3.1.0
info:
  title: Wise Platform API
  version: ''
  description: >
    The Wise Platform API is a REST-based interface that enables programmatic
    access to Wise's payment infrastructure. All endpoints return JSON-formatted
    responses and use standard HTTP methods and status codes.

    {% admonition type="success" name="New to wise?" %}
      We strongly recommend first reading our **[Getting Started Guide](/guides/developer/index.md)** to help you set up credentials and make your first call.
    {% /admonition %}


    Before you begin {% .title-2 .m-t-5 %}


    To use this API reference effectively, you should have:


    - Received Valid [API credentials from
    Wise](/guides/developer/auth-and-security/index.md) (Client ID and Client
    Secret)

    - Understand OAuth 2.0 authentication

    - Be familiar with RESTful API concepts


    Core API resources {% .title-2 .m-t-5 .m-b-0 %}


    | Resource | Purpose |

    |----------|---------|

    | **[Quote](/api-reference/quote)** | Exchange rate and fee calculations |

    | **[Recipient](/api-reference/recipient)** | Beneficiary account management
    |

    | **[Transfer](/api-reference/transfer)** | Payment creation and execution |

    | **[Balance](/api-reference/balance)** | Multi-currency account operations
    |

    | **[Profile](/api-reference/profile)** | Account ownership details |

    | **[Rate](/api-reference/rate)** | Current and historical exchange rates |


    **Not sure which workflow to build?**<br>

    Start with our [Integration
    Guides](/guides/product/send-money/use-cases/index.md) for step-by-step
    implementation examples.{% .m-t-3 .m-b-5 %}
servers:
  - url: https://api.wise.com
    description: Production Environment
  - url: https://api.wise-sandbox.com
    description: Sandbox Environment
tags:
  - name: 3ds
    x-displayName: 3D Secure Authentication
    description: >
      To manage certain aspects of the 3D Secure (3DS) authentication, you will
      need to integrate with the following APIs.
  - name: activity
    x-displayName: Activity
    description: |
      Activity represents a snapshot of a performed action for a profile.
  - name: verification
    x-displayName: Additional Customer Verification
    description: >
      In certain situations, additional evidence is required to verify customers
      and ensure we’re compliant with the KYC regulations.


      Additional Verification APIs support a list of evidences that can be found
      in the [Supported Evidences
      guide](/guides/product/kyc/partner-kyc/supported-evidences).


      If you use the [Customer Account with Partner
      KYC](/guides/product/kyc/partner-kyc) model and your customers are
      primarily based in the EU,

      refer to this [Onboarding EU
      customers](/guides/product/kyc/partner-kyc/additional-verification#onboarding-eu-customers)
      guide

      for instructions on how to use these APIs.


      If you use the [Customer Account with Partner
      KYC](/guides/product/kyc/partner-kyc) model and you are onboarding high
      risk business customers

      based primarily based in the US, refer to

      this [Onboarding High Risk US
      Businesses](/guides/product/kyc/partner-kyc/additional-verification#onboarding-high-risk-us-businesses)
      guide for 

      instructions on how to use these APIs.
  - name: address
    x-displayName: Address
    description: >
      Manage physical addresses associated with user profiles.


      Address requirements vary by country — use the address requirements
      endpoints to dynamically discover which fields are needed before creating
      an address.
  - name: balance
    x-displayName: Balance
    description: >
      Create and manage balance accounts within a multi-currency account.


      Each profile can hold multiple balance accounts in different currencies. A
      `STANDARD` balance is limited to one per currency, while `SAVINGS`
      balances (Jars) allow multiple in the same currency. Creating the first
      balance for a profile automatically creates the multi-currency account.


      Balances include an `investmentState` field. Only balances with
      `NOT_INVESTED` can be operated on via the API. Invested balances should be
      shown but not actionable.


      For a complete guide on multi-currency accounts, see [Multi-Currency
      Accounts](/guides/product/accounts).
  - name: balance-statement
    x-displayName: Balance Statement
    description: >
      Balance statements contain transactional activities on a Wise
      Multi-Currency Account, including deposits, withdrawals, conversions, card
      transactions, and fees.


      Statements can be retrieved in multiple formats: JSON, CSV, PDF, XLSX,
      CAMT.053, MT940, or QIF.
  - name: bank-account-details
    x-displayName: Bank Account Details
    description: >
      Bank account details allow users to receive money into their Wise
      Multi-Currency Account. Each currency balance can have local bank details
      (for domestic payments) and international bank details (for SWIFT
      payments) where available.


      Bank account details can be retrieved for existing balances, or new
      details can be ordered for currencies where they're available but not yet
      issued.
  - name: batch-group
    x-displayName: Batch Group
    description: >
      A batch group is a named collection of up to 1000 transfers that can be
      managed as a single unit. Batch groups are primarily used for funding
      multiple transfers with a single payment.


      **Workflow:**

      1. Create a batch group with a source currency

      2. Add transfers to the group (up to 1000)

      3. Complete the batch group to close it for modifications

      4. Fund the batch group from a balance or via direct debit


      Individual transfers in the group follow standard transfer lifecycle and
      can be tracked separately.
  - name: bulk-settlement
    x-displayName: Bulk Settlement
    description: >
      Bulk settlement allows partners to settle multiple transfers in a single
      bank transfer at the end of a settlement period. This model splits
      transfer creation/funding from final settlement, allowing Wise to process
      transfers before receiving funds based on a partner's guarantee.


      Use the settlement journal endpoint to submit a list of transfers to be
      settled, along with the settlement reference that matches your bank
      transfer payment.
  - name: card
    x-displayName: Card
    description: >
      Manage your customers' cards programmatically. These APIs allow you to
      retrieve card details, control card status, manage spending permissions,
      and access sensitive card data securely.


      **Key capabilities:**

      - List and retrieve card details for a profile

      - Update card status (active, frozen, blocked)

      - Control spending permissions (e-commerce, ATM, contactless, etc.)

      - Access sensitive card data (PAN, CVV, PIN) via encrypted JWE payloads


      **Sensitive card details:** Wise is a PCI DSS compliant provider and
      stores all card data securely. The scope for PCI compliance depends on
      your use case and will impact how you integrate. For all sensitive card
      details endpoints, follow the [detailed
      guide](/guides/product/issue-cards/sensitive-card-details).


      {% admonition type="info" %}

      For ordering new cards, see the [Card Order
      API](/api-reference/card-order). For transaction history, see the [Card
      Transaction API](/api-reference/card-transaction).

      {% /admonition %}
  - name: card-kiosk-collection
    x-displayName: Card Kiosk Collection
    description: >
      These APIs are designed to allow you to print and encrypt your card
      directly from a kiosk machine. The card information will be sent to our
      card manufacturer to configure and print the card on-site on a kiosk
      machine.


      The card printing process will automatically begin once the request is
      received by our card manufacturer.


      During the printing process, you will be notified via webhook about any
      [card production status
      change](/guides/developer/webhooks/event-types#cards-card-production-status-change).


      Before using these APIs, make sure to read the guide on [kiosk
      collection](/guides/product/issue-cards/card-kiosk-collection#card-kiosk-collection).


      {% admonition type="warning" %}

      Please reach out to your Implementation Manager for more information on
      these APIs.

      {% /admonition %}


      **Testing**: In the sandbox environment, use the [card production
      simulation API](/api-reference/simulation/simulationcardproduction) to
      test your integration with various production statuses and error
      scenarios.


      Production status flow {% .title-2 .m-t-5 %}


      These statuses represent the lifecycle of a card production:


      - `READY` - Card is ready for production. The [produce card
      endpoint](/api-reference/card-kiosk-collection/cardkioskcollectionproduce)
      can be called.

      - `IN_PROGRESS` - Card is being produced at the kiosk machine (chip
      encryption and printing in progress).

      - `PRODUCED` - Card has been successfully produced and collected from the
      kiosk. This is a final state.

      - `PRODUCTION_ERROR` - Card production failed. Check the errorCode to
      identify the issue, resolve it, then retry using the [produce card
      endpoint](/api-reference/card-kiosk-collection/cardkioskcollectionproduce).


      A card with production status `PRODUCED` will trigger an asynchronous call
      to update the associated card order to `PRODUCED` status.


      ![Card production status
      flow](/images/diagrams/card-production-status-flow.png)
  - name: card-order
    x-displayName: Card Order
    description: >
      With this set of APIs, you will be able to create cards for your
      customers. You can also retrieve and view the status of your current card
      orders, as well as the list of available card programs for the user.


      {% admonition type="info" %}

      On production, each personal profile can order at most 1 physical card and
      3 virtual cards. On sandbox, we allow up to 10 physical cards and 30
      virtual cards for testing purpose. However, no more than 3 virtual cards
      can be ordered per day. This limit includes cards and card orders.

      {% /admonition %}


      Card order status flow {% #card-order-status-flow .title-3 .m-t-5 %}


      The card order response will contain the `status` field. The initial
      status is `PLACED` or `REQUIREMENTS_FULFILLED` depending on the
      requirement fulfillment state:


      - `PLACED` - The card order is created. The card will be generated once it
      has fulfilled all the requirements

      - `REQUIREMENTS_FULFILLED` - The card order has fulfilled all the
      requirements and the card should be generated in a short while

      - `CARD_DETAILS_CREATED` - The card has been generated

      - `PRODUCED` - The physical card has been produced and waiting to be
      picked up by delivery vendor (physical card only)

      - `COMPLETED` - The card has been activated and is ready to use. The card
      order is completed

      - `CANCELLED` - The card order has been cancelled. This can happen if you
      reach out to Wise Support to cancel a card order

      - `RETURNED` - Delivery failed, the physical card has been returned and
      will be blocked (physical card only)


      ![Card order status state
      machine](/images/diagrams/card-order-status-flow.png)
  - name: card-transaction
    x-displayName: Card Transaction
    description: >-
      Retrieve information on transactions made on your users' cards.


      Transaction types {% #card-transaction-type .title-3 .m-t-5 %}


      The possible `type` values are:


      - `ACCOUNT_CREDIT` - Receiving money on the card, excluding Visa OCT or
      Mastercard MoneySend

      - `ACCOUNT_FUNDING` - Sending money to another card or e-wallet

      - `CASH_ADVANCE` - Cash disbursement

      - `CASH_WITHDRAWAL` - ATM withdrawal

      - `CHARGEBACK` - Currently unused. Reserved for future use

      - `CREDIT_TRANSACTION` - Visa OCT and Mastercard MoneySend

      - `ECOM_PURCHASE` - Online purchase

      - `POS_PURCHASE` - Purchase via a POS terminal

      - `REFUND` - Partial or full refund of an existing card transaction


      Transaction states {% #card-transaction-state .title-3 .m-t-5 %}


      The possible `state` values are:


      - `IN_PROGRESS` - The transaction has been authorized but not captured

      - `COMPLETED` - The transaction has been captured and/or settled

      - `DECLINED` - The transaction has been declined

      - `CANCELLED` - The transaction has been cancelled

      - `UNKNOWN` - Default fallback status if the state cannot be confirmed


      The transition from `CANCELLED` to `COMPLETED` is an edge case. Wise
      releases the customer funds after 7 days (30 days for pre-authorization)
      if the merchant has not captured the transaction, and the state becomes
      `CANCELLED`. However, the merchant can decide to capture the transaction
      at a later date, at which point the state will become `COMPLETED`.


      ![Transaction state flow](/images/diagrams/transaction-state-flow.png)


      Decline reasons {% #card-transaction-decline-reasons .title-3 .m-t-5 %}


      The decline reason field provides information about the specific issue
      that led to the transaction being declined, helping the merchant and the
      customer troubleshoot the problem.


      While the decline reason field provides valuable information, it may not
      cover all possible reasons for a decline, such as technical issues or
      unforeseen circumstances.


      {% admonition type="warning" %}

      New decline reasons may be added in the future, and not all decline
      reasons are currently documented. Review this documentation regularly to
      ensure accuracy.

      {% /admonition %}


      {% admonition type="warning" %}

      Exercise caution when communicating decline reasons to your customers, as
      some may not be relevant or may cause confusion.

      {% /admonition %}


      - `ACCOUNT_INACTIVE` - Balance related to the transaction is not active.
      Ensure that all outstanding actions have been completed before using the
      card, as this may help avoid potential issues or declines

      - `ACCOUNT_SUSPENDED` - The transaction has been declined pending further
      compliance checks. It may have been flagged for potential sanctions issues

      - `ATM_PIN_CHANGE_NOT_ALLOWED` - PIN change via ATM terminal is not
      allowed

      - `BLOCKED_COUNTRY` - Transactions were made in unsupported countries.
      Check this
      [link](https://wise.com/help/articles/2935771/where-can-i-use-my-wise-card)
      to see if the country is included in the list of supported nations. It is
      possible for a merchant to be based in a supported country and have an
      address registered in a blocked country, albeit infrequently

      - `BLOCKED_SUBSCRIPTION` - The system cannot facilitate this transaction
      as the customer has opted out of recurring payments with this merchant

      - `CARD_EXPIRED` - The card provided has reached its expiration date,
      making it invalid for this transaction

      - `CARD_FROZEN` - The customer or the customer service team has put this
      card on a temporary hold. If the card has not been frozen by the customer,
      it may be worth investigating further. To resume spending, advise the
      customer to unfreeze the card

      - `CARD_INACTIVE` - The card is either not active or has not been received
      by the customer, so the transaction cannot proceed

      - `CARD_BLOCKED` - The card has been blocked and cannot be used anymore

      - `CARD_PARTNER_SUSPENDED` - The internal team has deactivated the account
      for compliance reasons related to AML, fraud, or EDD. Contact the team if
      this is believed to be an error

      - `CHIP_PIN_ENTRY_TRIES_EXCEEDED` - The PIN is restricted on the chip of
      the card due to excessive incorrect entries. The blocked PIN can be
      unlocked at an ATM using specific steps that vary depending on the machine
      and country, such as PIN management or PIN operations followed by
      unblocking the PIN

      - `CONNECTION_ISSUE` - A connection problem occurred during the
      transaction

      - `CONTACTLESS_PIN_ENTRY_REQUIRED` - Contactless payment systems sometimes
      require a PIN for authentication purposes to protect users' accounts from
      potential fraud or tampering. In Europe, contactless payment transactions
      that follow one after the other require PIN verification as an additional
      security measure

      - `CREDIT_TRANSACTIONS_NOT_SUPPORTED` - Credit is not supported for this
      specific transaction. Review the [Acceptable Use
      Policy](https://wise.com/gb/legal/acceptable-use-policy-eea) for further
      information

      - `CUMULATIVE_LIMIT_EXCEEDED` - In certain jurisdictions, there are
      restrictions on the amount that can be spent. Refer to [spending
      limits](https://wise.com/help/articles/2899986/what-are-my-spending-limits)
      for further details

      - `DECLINED_ADVICE` - There is a problem with the message from the
      processor, so it might not be accepted because it could be incomplete or
      unsafe. This does not indicate a problem with the card. Advise the
      customer that there was a technical issue with the payment and to try
      again later

      - `INCORRECT_CVV` - The customer entered the wrong security code. Advise
      the customer to check their card details and try again. If the saved card
      details are correct, they should remove their card details from the
      merchant's website and add them back again

      - `INCORRECT_EXPIRY_DATE` - The customer entered the wrong expiration date
      for their card. If the saved card details are correct, they should remove
      their card details from the merchant's website and add them back again

      - `INCORRECT_PIN` - The customer entered their PIN incorrectly. Advise the
      customer to check their PIN and try again. If the PIN is correct and still
      fails, suggest resetting the PIN

      - `INSUFFICIENT_FUNDS` - The customer does not have enough money in their
      account to make the payment. Advise the customer to add money to their
      account and try again. In most cases, this will resolve the issue

      - `INVALID_3DS_UCAF` - The 3D Secure checks failed during the transaction.
      The customer should try again and request authentication

      - `INCORRECT_ARQC` - ARQC (Authorization Request Cryptogram) is a
      cryptogram generated by the card during a transaction, which is validated
      on the server side. If incorrect, it could indicate a faulty card, a
      fraudulent attack, or an issue with the POS terminal

      - `INCORRECT_ICVV` - ICVV (Integrated Circuit Card Verification Value) is
      a security feature used to validate the authenticity of a card during
      chip-based transactions. There were problems reading the chip on the card,
      which may indicate an issue with the card's chip, the terminal, or the
      transaction process. Wait and try again

      - `INVALID_MERCHANT` - Transaction from a specific merchant is declined by
      scheme. The merchant should clarify the exact cause with the scheme

      - `INVALID_TRANSACTION` - Certain types of transactions are not supported.
      The customer should ask the merchant to use a different payment method or
      try a different merchant

      - `MANDATE_DCC_NON_SUPPORTED_FOR_CARD_COUNTRY` - The transaction was
      declined because the system does not support conversions for Brazilian
      cards when BRL is involved. BRL will not be automatically exchanged to
      other currencies. If the customer wants to continue with the payment, they
      need to change the currency

      - `MANDATE_LOCAL_CASH_WITHDRAWAL_NOT_ALLOWED` - ATM withdrawal services
      are not provided in the country where the transaction is taking place

      - `NON_SUPPORTED_CURRENCY` - The currency in this transaction is not
      supported

      - `NON_SUPPORTED_MCC_FOR_COUNTRY` - Transactions in this category are not
      supported for customers in the country of purchase. Consider using an
      alternative payment method or changing merchant

      - `PAYMENT_METHOD_DAILY_LIMIT_EXCEEDED` - The customer has reached the
      daily spending limit for the card or their profile. Advise if they would
      like to update [card](/api-reference/spend-limits/spendlimitscardupdate)
      or [profile](/api-reference/spend-limits/spendlimitsprofileupdate) limit

      - `PAYMENT_METHOD_LIFETIME_LIMIT_EXCEEDED` - The customer has reached the
      lifetime spending limit. Advise if they would like to
      [increase](/api-reference/spend-limits/spendlimitscardupdate) their
      lifetime limit

      - `PAYMENT_METHOD_MONTHLY_LIMIT_EXCEEDED` - The customer has reached the
      monthly spending limit for the card or their profile. Advise if they would
      like to update [card](/api-reference/spend-limits/spendlimitscardupdate)
      or [profile](/api-reference/spend-limits/spendlimitsprofileupdate) limit

      - `PAYMENT_METHOD_NOT_ALLOWED` - This payment type has been disabled.
      Advise if they would like to
      [enable](/api-reference/card/cardpermissionsbulkupdate) the payment type

      - `PAYMENT_METHOD_TRANSACTION_LIMIT_EXCEEDED` - The customer has exceeded
      the transaction limit for the card. Advise if they would like to update
      their [card](/api-reference/spend-limits/spendlimitscardupdate) limit

      - `PIN_ENTRY_TRIES_EXCEEDED` - The customer has reached the maximum number
      of allowed online PIN entry attempts. Consider implementing a [reset
      PIN](/api-reference/card/cardpincountreset) feature within the app to help
      the customer regain access to their card

      - `PRE_ACTIVATED_CARD_PIN_ENTRY_REQUIRED` - The customer has attempted to
      make a contactless payment at a POS or ATM, but their card has not been
      activated for chip and PIN transactions. To modify the card activation
      strategy for all cards, contact the implementation manager

      - `PROCESSING_ERROR` - The system is currently experiencing technical
      difficulties. Advise the customer to try again after a brief period

      - `RESTRICTED_MODE` - Although rare, restricted mode can occur. Advise the
      customer to replace their card promptly as the system should have already
      informed them. In this mode, more secure payment methods like chip and
      PIN, contactless, mobile wallets, and online payments with 3DS are
      allowed, while less secure methods like magnetic stripe and online
      payments without 3DS are not permitted

      - `REVERSAL_NOT_MATCHING_AUTH_CURRENCY` - The merchant has issued a
      reversal instruction for a different currency than what was originally
      requested during the authorization process

      - `SCA_SOFT_DECLINE` - The transaction cannot proceed due to SCA
      regulations. Suggest the customer contact the merchant and use a more
      secure authentication method such as 3DS. For example, the customer can
      try chip and PIN, or a mobile wallet like Apple Pay or Google Pay

      - `SCHEME_BLOCKED_TRANSACTION` - This transaction has been flagged by the
      scheme and cannot be processed

      - `SECURITY_CVM_FAILURE` - The system has detected that the POS terminal
      was misconfigured and failed security checks. Suggest the customer use an
      alternative payment method like contactless or mobile wallets, or
      recommend asking the merchant to accept a signature instead

      - `SECURITY_MAGSTRIPE_SECURE_ELEMENTS_INCORRECT_OR_MISSING` - The merchant
      has entered the wrong type of purchase. Advise the customer to contact the
      merchant and ask them to correct this issue

      - `SECURITY_PIN_ENTRY_REQUIRED` - To proceed with this transaction, the
      customer is required to enter their PIN

      - `SUSPECTED_FRAUD` - This transaction has been labeled as high-risk by
      Wise

      - `SUSPECTED_FRAUD_AML` - This transaction has been flagged as high-risk
      based on AML compliance protocols. This reason cannot be disclosed to end
      customers

      - `SUSPECTED_FRAUD_COMPLIANCE` - The compliance system has flagged this
      transaction as high-risk. This reason cannot be disclosed to end customers

      - `SUSPECTED_FRAUD_CORE_FRAUD` - This transaction has been blocked based
      on fraud policies and procedures

      - `SUSPECTED_FRAUD_SANCTIONS` - This transaction has been flagged as
      high-risk based on sanctions list analysis. This reason cannot be
      disclosed to end customers. This classification is final and cannot be
      appealed

      - `SUSPECTED_FRAUD_SOFT_DECLINE` - This e-commerce transaction cannot be
      processed due to high risk factors. The merchant must complete 3DS before
      the transaction can be approved

      - `TRANSACTION_TYPE_NOT_SUPPORTED` - There are restrictions on this type
      of transaction, and sometimes the scheme will not allow it. Check if
      [spend control](/api-reference/spend-controls) is set up to block this
      transaction

      - `UNEXPECTED_ERROR` - There may have been a communication error between
      the merchant's system and the server, but the POS system may have already
      notified the user of this issue


      Detailed decline reasons {% #card-transaction-detailed-decline-reasons
      .title-3 .m-t-5 %}


      Detailed decline reasons provide secondary level information for certain
      decline reasons, adding more context to transaction failures.


      Please be aware that new detailed decline reasons may be added in the
      future, and not all reasons are currently documented. Therefore, it is
      important to exercise caution and regularly review the documentation to
      ensure accuracy.


      {% admonition type="warning" %}

      Please exercise caution when communicating reasons to your customers, as
      some may not be relevant or may cause confusion. If you have any questions
      or concerns, we are here to assist you.

      {% /admonition %}


      - `INSUFFICIENT_FUNDS_FOR_BLOCKED_SMART_CONVERSION` - Transaction was
      declined due to insufficient balance in transaction currency when smart
      conversion feature is disabled (e.g. BRL cards). The customer needs to
      convert their funds to the transaction currency and try again.

      - `INSUFFICIENT_FUNDS_FOR_SPECIFIC_CURRENCY_RESERVATION` - The transaction
      will be declined with this reason if the customer's card is issued in a
      region subject to smart conversion limitations, and the transaction
      currency is the limited currency but the customer doesn't hold enough of
      that currency. Other currencies won't be automatically converted to the
      limited currency. The customer needs to convert their funds to the
      transaction currency before retrying the payment.

      - `SUSPECTED_FRAUD_NO_BALANCE` - The customer might be abusing merchants
      by saving a card without having any balance to cover upcoming charges from
      them. The customer will need to top up their account to cover any charges
      from the merchant at a later date before re-attempting the transaction.

      - `RESET_YOUR_PIN_AT_ATM` - There's a problem with how Chip was read and
      we had to decline the transaction. The customer will need to reset their
      PIN at an ATM.

      - `INCORRECT_CVV2` - Invalid CVV2 was provided. The customer needs to
      check their saved card details and if they're correct, they should remove
      and add their card details to the merchant's website again. If this
      doesn't help, they could try to use their card at another merchant's
      website. If the same issue happens, they'll need to order a new card.

      - `SCA_SOFT_DECLINE_CONTACTLESS` - Contactless transaction could not be
      approved due to SCA regulations. The customer should perform at least one
      PIN transaction or use an ATM to reset PIN.

      - `SUSPECTED_FRAUD_REVIEW_ACTIVITY` - We couldn't confirm all transactions
      in the customer's activity were done by them, so we froze their card. The
      customer should review recent transactions and unfreeze the card.

      - `INVALID_TRANSACTION_TYPE_FINAL` - This decline reason is used for
      unmapped processor or network error codes, indicating an external system
      issue or unclassified response. The decision authority on the transaction
      information identifies a SCHEME decline, which may relate to card usage in
      unsupported countries. The customer will need to use an alternative
      payment method to complete this transaction.

      - `INVALID_TRANSACTION_TYPE_CONTACTLESS_MAGSTRIPE` - The POS terminal used
      a deprecated and not secure way to transmit card data. The customer will
      need to use another POS machine or try another payment method (Chip and
      PIN or Mobile Wallet).

      - `INVALID_TRANSACTION_TYPE_FALLBACK` - The chip couldn't be read due to a
      technical issue which resulted in the transaction "falling back" to
      magnetic stripe. As damaging the chip (so it would fall back to stripe) is
      a common way of fraud, these types of transactions are often deemed risky
      and being blocked.
          The customer will need to:
          - Try again or try a different terminal / ATM if it still doesn't work
          - Use another payment method, e.g. Contactless
          - Use another card
          - If the issue persists with multiple terminals, they'll need to replace their card as it may be damaged
      - `CONTACTLESS_DISABLED` - `POS_CONTACTLESS` permission (contactless
      payments) is disabled. The customer will need to enable the permission to
      allow contactless transactions.

      - `ECOM_DISABLED` - `ECOM` permission (online payments) is disabled. The
      customer will need to enable the permission to allow e-commerce
      transactions.

      - `CHIP_DISABLED` - `POS_CHIP` permission (Chip transactions) is disabled.
      The customer will need to enable the permission to allow Chip
      transactions.

      - `MAGSTRIPE_DISABLED` - `POS_MAGSTRIPE` permission (magnetic stripe
      transactions) is disabled. The customer will need to enable the permission
      to allow magnetic stripe transactions.

      - `WALLET_DISABLED` - `MOBILE_WALLETS` permission is disabled. The
      customer will need to enable the permission to allow mobile wallet
      transactions.

      - `PROFILE_GENERAL_DAILY_LIMIT_EXCEEDED_CHANGEABLE` - The customer has
      reached their daily total account limit (profile-level). The customer will
      need to edit the limit.

      - `PROFILE_GENERAL_MONTHLY_LIMIT_EXCEEDED_CHANGEABLE` - The customer has
      gone over their monthly total account limit (profile-level). The customer
      will need to edit the limit.

      - `CARD_GENERAL_DAILY_LIMIT_EXCEEDED_CHANGEABLE` - The customer has
      reached their daily limit for this card (card-level). The customer will
      need to edit the limit.

      - `CARD_GENERAL_MONTHLY_LIMIT_EXCEEDED_CHANGEABLE` - The customer has gone
      over the monthly limit for this card (card-level). The customer will need
      to edit the limit.

      - `PAYMENT_METHOD_MAX_MONTHLY_LIMIT_EXCEEDED` - The card's maximum
      non-changeable monthly spending limit has been reached. The customer will
      need to wait until the start of the next calendar month to perform
      transactions again.

      - `UNKNOWN` - This decline reason is used when the processor or network
      returns an error code that is not mapped to any of our specific detailed
      decline reasons. This can be caused by various external system issues or
      unclassified processor responses.
  - name: claim-account
    x-displayName: Claim Account
    description: >
      Allow a customer to take ownership of an account [created on their
      behalf](/api-reference/user/usercreate). Generate a short-lived
      `claim_account_code` and use it when [redirecting the customer to
      Wise](/guides/product/kyc/wise-kyc/redirect-to-wise/claim-account) to
      finalize their account setup.
  - name: comparison
    x-displayName: Comparison
    description: >
      The comparison API can be used to request price and speed information
      about various money transfer providers. This includes not only Wise but
      other providers in the market.


      Price Estimation {% #comparison-price-estimation .title-3 .m-t-5 %}


      The quotes (price and speed) provided by this API are based off of real
      quotes collected from 3rd party websites. We collect both the advertised
      exchange rate and fee for each provider for various amounts. When a
      comparison is requested, we calculate the markup percentage of the
      collected exchange rate on the mid-market rate at the time of collection.
      We then apply this markup to the current mid-market rate to provide a
      realistic estimate of what each provider offers. We collect data for all
      providers around once per hour to ensure we provide as accurate and
      up-to-date information as possible.


      Note: Today, we only provide estimations for FX transactions with a Bank
      Transfer pay-in and pay-out option. This is important to stress as many
      providers offer significantly different fees and exchange rates when used
      debit/credit card, cash etc.


      For more details on the data collection process please see the following
      page:

      [https://wise.com/gb/compare/disclaimer](https://wise.com/gb/compare/disclaimer)


      If you have questions or suspect any data to be inaccurate or incomplete
      please contact us at: [comparison@wise.com](mailto:comparison@wise.com)


      Delivery Estimation {% #comparison-delivery-estimation .title-3 .m-t-5 %}


      Similar to price, we collect speed data for most (if not all) providers
      which we have price information for. Many providers display speed
      estimates to their customers in a number of different ways.


      Some examples:


      - "The transfer should be complete within 2-5 days"

      - "The money should arrive in your account within 48 hours"

      - "Should arrive by 26th Aug"

      - "Could take up to 4 working days"


      The below API intends to model these in a consistent format by providing a
      minimum and maximum range for all delivery estimations. An estimate that
      states "up to X" will have "max" set to a duration but "min" as null;
      "from X" will have "min" set to a duration and "max" as null. Finally, for
      those providers who offer a specific, point in time estimation (like
      Wise), the API will surface a duration where "min" and "max" are equal.


      Quotes structure {% #comparison-quotes-structure .title-3 .m-t-5 %}


      In order to provide the most flexible and accurate data for clients, we
      surface a denormalized list of quotes per provider where each quote
      represents a unique collection of comparison "dimensions".


      A single given provider may expose multiple quotes for the same currency
      route. The most common example is where a provider offers different
      pricing for two different countries which use the same currency, e.g.:


      Provider X:


      - GBP EUR 1000 [GB -> ES] fee: 10, rate: 1.5

      - GBP EUR 1000 [GB -> DE] fee: 8, rate: 1.5

      - GBP EUR 1000 [GB -> FR] fee: 10, rate: 1.35


      The same principle applies for speed, i.e. a provider may have different
      speed estimates for different target countries. Hence, we expose these as
      discrete quotes, where a quote is a unique combination of route, country,
      speed and price factors.


      A client may choose to reduce this set of quotes down to a single or
      several quotes in order to display a relevant quote to a given user. An
      example where we take the cheapest quote for a given currency route (and
      also surface the target country) can be seen at the below link:


      [https://wise.com/gb/compare/?sourceCurrency=GBP&targetCurrency=EUR&sendAmount=1000](https://wise.com/gb/compare/?sourceCurrency=GBP&targetCurrency=EUR&sendAmount=1000)
  - name: contact
    x-displayName: Contact
    description: >
      Find discoverable Wise profiles and add them to your recipient list using
      an identifier — such as a Wisetag, email, or phone number — without
      needing bank details.


      Creating a transfer with a contact {% .title-3 .m-t-5 %}


      1. [Create a Quote](/api-reference/quote/quotecreate), passing `contactId`
      instead of `targetAccount` in the request body.

      2. Extract the `targetAccount` value from the Quote response — Wise
      resolves the contact into a recipient account.

      3. [Create a Transfer](/api-reference/transfer/transfercreate) using the
      `targetAccount` from the Quote response.
  - name: currencies
    x-displayName: Currencies
    description: >
      Retrieve the list of currencies supported for transfers, including
      currency codes and display names.
  - name: delivery-estimate
    x-displayName: Delivery Estimate
    description: >
      Get the estimated delivery time for a transfer, showing when funds are
      expected to arrive in the recipient's bank account.
  - name: digital-wallet
    x-displayName: Digital Wallet
    description: >
      These APIs provide encrypted cardholder information needed to implement
      push provisioning (Apple Pay, Google Pay) in your own mobile app.
  - name: direct-debit-account
    x-displayName: Direct Debit Account
    description: >
      Register and retrieve external bank accounts used to fund batch transfers
      via ACH (USD) or EFT (CAD) direct debit.
  - name: disputes
    x-displayName: Disputes
    description: >
      Raise and manage card transaction disputes, including submission via
      Dynamic Flow or direct API, file uploads, and dispute lifecycle tracking.


      For implementation details, see:

      - [Disputes via Dynamic
      Flow](/guides/product/issue-cards/card-disputes-dynamic-flow) — build a
      dispute UI using the Dynamic Flow framework

      - [Disputes via API](/guides/product/issue-cards/card-disputes-api) —
      submit disputes directly, with per-reason request body details

      - [Dispute
      management](/guides/product/issue-cards/card-disputes-management) — track
      and withdraw disputes


      Dispute sub-statuses {% #dispute-sub-status .title-3 .m-t-5 %}


      The possible `subStatus` values are:

      - `SUBMITTED` — Initial status

      - `IN_REVIEW` — The dispute is under review or requires additional
      information

      - `REFUNDED` — The refund has been processed

      - `REJECTED` — The dispute is invalid

      - `WITHDRAWN` — The customer has withdrawn the dispute

      - `CONFIRMED` — The dispute has been reviewed but a refund is not
      applicable

      - `REFUND_IN_PROGRESS` — A refund is being processed

      - `ATTEMPTING_RECOVERY` — A chargeback request has been submitted

      - `RECOVERY_UNSUCCESSFUL` — The chargeback attempt was unsuccessful


      {% admonition type="warning" %}

      The status transition diagram may undergo modifications in the future and
      only covers regular pathways.

      {% /admonition %}


      {% img
        src="/images/diagrams/dispute-status-flow.png"
        alt="Dispute statuses transition diagram"
      /%}
  - name: facetec
    x-displayName: FaceTec
    description: >
      Wise leverages [FaceTec's](https://www.facetec.com/) facial biometric
      technology for authentication. Use this endpoint to retrieve the public
      key needed for exporting 3D FaceMaps.
  - name: jose
    x-displayName: JOSE
    description: >
      Wise uses the [JOSE framework](https://jose.readthedocs.io/en/latest/) to
      accept and respond with signed and encrypted payloads. These endpoints
      allow you to manage keys and test your signing and encryption
      implementation.


      For more information, please speak with your Implementation team.
  - name: kyc-review
    x-displayName: KYC Review
    description: >
      KYC Review API provides endpoints to view, update and submit information
      related to the KYC flow.


      There are two ways to collect KYC requirements from your customers:

      - **Hosted KYC** — redirect your customer to a Wise-hosted UI that guides
      them through the process.

      - **API submission** — use the [KYC Requirement
      Submit](/api-reference/kyc-review/kycreviewrequirementsubmit) endpoint to
      submit requirements directly. This is only available for requirement types
      where `apiCollectionSupported` is `true`.


      Please refer to our [Hosted KYC
      guide](/guides/product/kyc/wise-kyc/hosted-kyc) for more information on
      the general use of the endpoints included below.
  - name: multi-currency-account
    x-displayName: Multi Currency Account
    description: >
      The Wise multi-currency account (MCA) enables users to hold, convert, and
      fund transfers (single or batches) with balances in up to 56 currencies.
      Of the 50+ currency balances supported, 10+ come with local account
      details.


      Please refer to our [multi-currency account
      guide](/guides/product/accounts/managing-accounts) for more information on
      the general use of the endpoints included below.


      Please see the [Balances APIs](/api-reference/balance) for more details.
  - name: oauth-token
    x-displayName: OAuth Token
    description: >
      Exchange client credentials or authorisation grants for OAuth 2.0 access
      tokens. All grant types use `POST /oauth/token` with basic authentication
      (your `client_id` and `client_secret`).


      Depending on the grant type, this endpoint issues either a **client
      credentials token** or a **user token**.


      Client credentials token {% .title-3 .m-t-5 %}


      An application-level token for requests that aren't tied to a specific
      Wise user, such as generating un-authenticated quotes and subscribing to
      application webhooks. Valid for 12 hours.


      - `client_credentials` — the only grant type for this token.


      User token {% .title-3 .m-t-5 %}


      A token for making API calls on behalf of a specific Wise user, such as
      creating transfers and managing balances. Access tokens are valid for 12
      hours and can be refreshed using a refresh token. Grant types:


      - `registration_code` — for partners that create Wise users via API.
      Exchanges a registration code for a user access token and refresh token.

      - `authorization_code` — for partners using the OAuth redirect flow.
      Exchanges an authorisation code for a user access token and refresh token.

      - `refresh_token` — obtain a new user access token without requiring the
      user to re-authorise.


      Managing token expiration {% #managing-token-expiration .title-3 .m-t-5 %}


      Access tokens are valid for 12 hours. You can request a new access token
      whenever it's close to expiring — there is no need to wait for the actual
      expiration to happen first. Depending on how your application uses the
      Wise Platform API, requesting a new access token before attempting a
      series of API calls on behalf of an individual user will avoid issues with
      expired access tokens.
  - name: one-time-token
    x-displayName: One Time Token
    description: >
      {% admonition type="warning" %}

      These endpoints are deprecated. Please refer to [Strong Customer
      Authentication](/api-reference/strong-customer-authentication) to
      integrate with SCA.

      {% /admonition %}


      Represents a list of challenges that a user needs to clear in order to
      access protected resources. Commonly used for [Strong Customer
      Authentication & 2FA](/guides/developer/auth-and-security/sca-and-2fa.md).


      Learn from our [guide](/guides/developer/auth-and-security/one-time-token)
      to understand the One Time Token Framework.


      To ease reading in this document, we will use OTT as an abbreviation for
      one time token.


      {% admonition type="info" %}

      We suggest the following method to check if the OTT is ready to access an
      SCA protected endpoint: iterate through the `challenges` array and look
      for any challenge that has `required: true` and `passed: false`.

      {% /admonition %}


      {% admonition type="warning" %}

      The Verify PIN/FaceMap/Device Fingerprint APIs are currently in closed
      Beta and subject to change. Please speak with your implementation manager
      if you would like to use these APIs.

      {% /admonition %}


      The Challenge Type resource {% #challenge-type .title-3 .m-t-5 %}


      Enumerated string that indicates what sort of challenge user can do to
      pass the associated OTT.


      | Type | Pre-requisite | Trigger | Verify |

      |------|---------------|---------|--------|

      | PIN | [Create Pin](/api-reference/user-security/usersecuritypincreate) |
      - | [Verify Pin](/api-reference/one-time-token/ottpinverify) |

      | FACE_MAP | [Enrol
      FaceMap](/api-reference/user-security/usersecurityfacemapenrol) | - |
      [Verify FaceMap](/api-reference/one-time-token/ottfacemapverify) |

      | SMS | [Create Phone
      Number](/api-reference/user-security/usersecurityphonenumbercreate) |
      [Trigger SMS](/api-reference/one-time-token/ottsmstrigger) | [Verify
      SMS](/api-reference/one-time-token/ottsmsverify) |

      | WHATSAPP | [Create Phone
      Number](/api-reference/user-security/usersecurityphonenumbercreate) |
      [Trigger WhatsApp](/api-reference/one-time-token/ottwhatsapptrigger) |
      [Verify WhatsApp](/api-reference/one-time-token/ottwhatsappverify) |

      | VOICE | [Create Phone
      Number](/api-reference/user-security/usersecurityphonenumbercreate) |
      [Trigger Voice](/api-reference/one-time-token/ottvoicetrigger) | [Verify
      Voice](/api-reference/one-time-token/ottvoiceverify) |

      | PARTNER_DEVICE_FINGERPRINT | [Create Device
      Fingerprint](/api-reference/user-security/usersecuritydevicefingerprintcreate)
      | - | [Verify Device
      Fingerprint](/api-reference/one-time-token/ottdevicefingerprintverify) |
  - name: case
    x-displayName: Partner Cases
    description: >
      Partner Cases are part of the Partner Support API, allowing partners to
      open, retrieve and respond to support and operations queries.


      The endpoints described here allow partners to directly integrate their
      back end tooling with Wise's, allowing faster responses, better structure
      to data, and operational efficiencies.


      {% admonition type="warning" %}

      The Partner Support APIs are currently in a closed Beta and subject to
      change. Please speak with your implementation manager if you would like to
      integrate with these APIs.

      {% /admonition %}


      Case Statuses {% #case-statuses .title-3 .m-t-5 %}


      Partner cases can move through different statuses.


      | Status | Transitions to | Description |

      |--------|---------------|-------------|

      | `CREATING` | OPEN | Cases being created by Wise from a Partner call.
      Once created, cases move into the open status. |

      | `OPEN` | PENDING, SOLVED, CLOSED | Cases being actioned by Wise.
      Partners do not need to action these cases. Note that we may update a case
      in this status and not change it. |

      | `PENDING` | OPEN, SOLVED, CLOSED | Cases that require additional
      information from the partner. You should action these cases by reviewing
      the newest comment and updating the case. |

      | `SOLVED` | OPEN, PENDING, CLOSED | Cases that have been solved and
      scheduled for closure. These can be re-opened by the partner or Wise if
      needed before closing. |

      | `CLOSED` | — | Cases that have been solved and closed. Once closed, they
      cannot be reopened and a new case should be created if needed. |


      {% img src="/images/diagrams/case-flow.png" /%}
  - name: payins
    x-displayName: Payins
    description: >-
      The payin APIs allow you to fund the MCA or transfers with local payment
      rails, by retrieving or creating the relevant details to send to for
      funding a payment. 


      These details will be provided in the local format for that currency, and
      also includes the name and address of the receiving bank.
  - name: payin-deposit-detail
    x-displayName: Payin Deposit Detail
    description: >
      The payin deposit details API allows you to get the bank details for the
      account that the customer should send funds to when paying for a Wise
      transfer via a bank transfer.


      These details will be provided in the local format for that currency and
      usually contain bank account information — like IBAN, SWIFT code etc. It
      also includes the name and address of the receiving bank and the name and
      address of the Wise entity that owns the bank account, as sometimes these
      are required to make a payment.
  - name: profile
    x-displayName: Profile
    description: >+
      A profile represents an identity that can send and receive money through
      Wise — either a personal profile (an individual) or a business profile (a
      company). Most API endpoints require a `profileId` parameter, which is the
      ID of either profile type.

  - name: quote
    x-displayName: Quote
    description: >
      The quote resource defines the basic information required for a Wise
      transfer - the currencies to send between, the amount to send and the
      profile who is sending the money. The profile _must_ be included when
      creating a quote.


      Quote is one of the required resources to create a transfer, along with
      the recipient who is to receive the funds.


      The quote response contains other information such as the exchange rate,
      the estimated delivery time and the methods the user can pay for the
      transfer. Not all of this information may apply to your use case.


      Upon creating a quote the current mid-market exchange rate is locked and
      will be used for the transfer that is created from the quote. The rate
      will be locked for 30 minutes to give a user time to complete the transfer
      creation flow.
  - name: rate
    x-displayName: Rate
    description: |
      Current and historical exchange rates by currency routes.
  - name: recipient
    x-displayName: Recipient Account
    description: >
      Recipient or beneficiary is the one who will receive the funds.


      Recipient account endpoints use a mixture of our v1 and v2 APIs. Please
      ensure you address the right version to get the expected results.


      {% admonition type="info" %}

      All recipient IDs are cross compatible with v1 and v2.

      {% /admonition %}
  - name: simulation
    x-displayName: Simulation
    description: >
      Use these endpoints to simulate key actions in the sandbox environment,
      including transfer state changes, balance top-ups, card transactions, KYC
      reviews, and incoming payments.


      {% admonition type="info" %}

      These features are limited to sandbox only.

      {% /admonition %}
  - name: spend-controls
    x-displayName: Spend Controls
    description: >
      Control which card transactions are permitted by creating rules based on
      merchant category code (MCC) or transaction currency.


      An authorisation rule dictates whether transactions should be declined or
      approved based on a pre-determined set of rules. A transaction can only
      pass if it satisfies all the applied rules.


      Creating a rule has no practical implication until it is
      [applied](/api-reference/spend-controls/spendcontrolsruleapply). Applying
      a rule results in the authorisation rule being evaluated against every
      incoming card authorisation request.


      Rules are scoped at the application level. Use a [client credentials
      token](/api-reference/oauth-token/oauthtokencreate) to call these
      endpoints.
  - name: spend-limits
    x-displayName: Spend Limits
    description: >
      Manage spending limits applied to profiles and cards. Profile limits are
      shared across all cards under the same profile, while card limits apply to
      individual cards.


      For more details on how profile and card limits interact, see the [card
      management
      guide](/guides/product/issue-cards/card-management#spend-limits).
  - name: strong-customer-authentication
    x-displayName: Strong Customer Authentication
    description: >
      Strong Customer Authentication (SCA) is a regulatory requirement
      introduced under the Second Payment Services Directive (PSD2) in the
      European Economic Area (EEA). It aims to enhance security and reduce fraud
      risks.


      These endpoints allow your customers to comply with SCA, ensuring seamless
      integration over API while meeting security requirements. Please read the
      [SCA over API guide](/guides/developer/auth-and-security/sca-over-api) to
      understand how SCA integration works.


      SCA is required for high-risk and low-risk operations. On low-risk
      operations, clearing SCA once allows a 5-minute window where SCA won't be
      requested again.


      {% admonition type="info" %}

      Please reach out to your Implementation Manager to determine which
      challenges can be enabled.

      {% /admonition %}
  - name: transfer
    x-displayName: Transfer
    description: >
      A transfer is a payment order to a [recipient
      account](/api-reference/recipient) based on a
      [quote](/api-reference/quote).


      Once created, a transfer usually needs to be funded within fourteen days.
      Otherwise, it will be automatically cancelled.


      There are 2 types of transfer resources: standard transfer resource and
      originator transfer resource. Please see below for differences between the
      two.


      Standard Transfer {% #standard-transfer .title-3 .m-t-5 %}


      The standard transfer object is returned by the [create
      transfer](/api-reference/transfer/transfercreate), [get
      transfer](/api-reference/transfer/transferget), [list
      transfers](/api-reference/transfer/transferlist), and [cancel
      transfer](/api-reference/transfer/transfercancel) endpoints.


      Originator Transfer {% #originator-transfer .title-3 .m-t-5 %}


      The originator transfer object is returned by the [create third party
      transfer](/api-reference/transfer/transferthirdpartycreate) and [get third
      party transfer](/api-reference/transfer/transferthirdpartyget) endpoints.
      It includes an additional `originator` data block with details about the
      payment originator.
  - name: user
    x-displayName: User
    description: >
      A User serves as the primary entity and can possess multiple Profiles to
      represent different contexts or settings.

      A User can have one personal Profile and multiple business Profiles.

      Each [Profile](/api-reference/profile) — whether personal or business —
      can have its own [multi-currency
      account](/api-reference/multi-currency-account),

      enabling transactions across various currencies. This hierarchical
      structure allows for flexible management of user settings and financial
      operations,

      accommodating both personal and business needs.


      ![User profile structure](/images/diagrams/user-profile-structure.svg)
  - name: user-security
    x-displayName: User Security
    description: >
      {% admonition type="warning" %}

      These endpoints are deprecated. Please refer to [Strong Customer
      Authentication](/api-reference/strong-customer-authentication) to
      integrate with SCA.

      {% /admonition %}


      User security allows users to set up security-related protections over the
      API.
  - name: webhook
    x-displayName: Webhook
    description: >
      Manage webhook subscriptions at both the application and profile level.
      Create, list, retrieve, and delete subscriptions, as well as test your
      webhook endpoints.


      For more information on creating and managing webhooks, and specific event
      types, see [Webhooks & Notifications](/guides/developer/webhooks).
paths:
  /v3/spend/profiles/{profileId}/3dsecure/challenge-result:
    post:
      tags:
        - 3ds
      summary: Inform challenge result
      operationId: 3dsChallengeResultPost
      security:
        - UserToken: []
      description: >
        Once the customer has accepted or rejected the push notification for a
        3DS challenge, you can use this endpoint to notify us of the result.


        You must call this endpoint before the expiration time, otherwise it
        will return a 400 error. You can find the expiration information from
        the [3DS challenge webhook
        event](/guides/developer/webhooks/event-types#3ds-challenge).


        Only the first call to this endpoint will be processed. Any subsequent
        duplicate requests will be ignored, although you will still receive a
        success response.


        {% admonition type="warning" %}

        This endpoint is SCA protected when it applies. If your profile is
        registered within the UK and/or EEA, SCA most likely applies to you. For
        more information, please read [implementing
        SCA](/guides/developer/auth-and-security/sca-and-2fa).

        {% /admonition %}
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: >-
            The profile ID (personal or business) associated with the 3DS
            challenge.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChallengeResultRequest'
      responses:
        '204':
          description: No Content - Challenge result has been successfully recorded.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v1/profiles/{profileId}/activities:
    get:
      tags:
        - activity
      summary: List Activities for a Profile
      operationId: activityList
      description: >
        List of activities belonging to user profile.


        Activities represent snapshots of performed actions and can be filtered
        by various parameters to narrow down the results.
      security:
        - UserToken: []
        - PersonalToken: []
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The unique identifier of the profile.
        - name: monetaryResourceType
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ActivityResourceType'
          description: Filter activity by resource type.
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ActivityStatus'
          description: Filter by activity status.
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2025-03-10T11:56:30.376Z'
          description: Filter activity list after a certain timestamp. Use ISO 8601 format.
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2025-03-30T23:59:59.999Z'
          description: Filter activity list until a certain timestamp. Use ISO 8601 format.
        - name: nextCursor
          in: query
          required: false
          schema:
            type: string
            example: ''
          description: >
            Pagination cursor returned from a previous response. Use the
            `cursor` value from the response to fetch the next page of
            activities.
        - name: size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: >-
            Desired size of query. Min 1, max 100, and default value is 10 if
            not specified.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: OK - Successfully retrieved activities.
          content:
            application/json:
              schema:
                type: object
                description: Response containing a list of activities for a profile.
                properties:
                  cursor:
                    type:
                      - string
                      - 'null'
                    description: >-
                      Pagination cursor. Pass this value as the `nextCursor`
                      query parameter to fetch the next page of results. Returns
                      `null` when there are no more pages.
                  activities:
                    type: array
                    description: Array of activity objects.
                    items:
                      $ref: '#/components/schemas/Activity'
              example:
                cursor: WyJQUklPUklUWSIsMTAwMDAxNjY5NzA4MjI0MDAwMDE2MDk5OV0=
                activities:
                  - id: >-
                      TU9ORVRBUllfQUNUSVZJVFk6OjE0NTU4OTk4OjpDQVJEX1RSQU5TQUNUSU9OOjozNDMwNDk=
                    type: CARD_PAYMENT
                    resource:
                      type: CARD_TRANSACTION
                      id: '343049'
                    title: <strong>Test Payment</strong>
                    description: ''
                    primaryAmount: 150 JPY
                    secondaryAmount: 1.50 SGD
                    status: COMPLETED
                    createdOn: '2023-01-01T00:00:00.000Z'
                    updatedOn: '2023-01-01T00:00:00.000Z'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v3/profiles/{profileId}/additional-verification/upload-evidences:
    post:
      deprecated: true
      tags:
        - verification
      summary: Upload Evidences (v3)
      operationId: verificationUploadEvidencesV3
      description: >
        Uploads verification evidence for a specific profile.


        The request body varies significantly between **Personal** and
        **Business** profiles.
      security:
        - UserToken: []
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The unique identifier of the profile.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Personal Profile
                  type: object
                  description: Payload for Personal profile verification.
                  example:
                    accountPurpose: MOVING_SAVINGS
                    intendedCountries:
                      - deu
                      - esp
                    yearlyAnticipatedVolume: '0_2350'
                    mainSourceOfIncome: SALARY
                    annualIncome: '0_11500'
                  properties:
                    accountPurpose:
                      type: string
                      description: The primary reason for using the account.
                      enum:
                        - MOVING_SAVINGS
                        - SENDING_MONEY_TO_FRIENDS_OR_FAMILY
                        - GENERAL_LIVING_EXPENSES
                        - BUYING_GOODS_OR_SERVICES_ABROAD
                        - PAYING_FOR_MORTGAGE_OR_LOAN
                        - PAYING_BILLS
                        - RECEIVING_SALARY_OR_PENSION
                        - INVESTING
                    accountPurposeExplanation:
                      type: string
                      description: >-
                        Additional reasons and specific examples for using Wise
                        account. This is a free-text field.
                    intendedCountries:
                      type: array
                      description: >
                        List of ISO 3166-1 alpha-3 country codes.<br>

                        Check the [lists of countries you can send money to with
                        Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).
                      items:
                        type: string
                    yearlyAnticipatedVolume:
                      type: string
                      description: Expected yearly transaction volume in Euros.
                      enum:
                        - '0_2350'
                        - '2351_6000'
                        - '6001_11500'
                        - '11501_60000'
                        - '60001_175000'
                        - 175001_+
                    mainSourceOfIncome:
                      type: string
                      description: >-
                        Primary source of income. Must be submitted with
                        annualIncome.
                      enum:
                        - SALARY
                        - INVESTMENTS
                        - PENSION
                        - INHERITANCE
                        - LOAN
                        - OTHER
                    annualIncome:
                      type: string
                      description: >-
                        Expected annual income in Euros. Must be submitted with
                        mainSourceOfIncome.
                      enum:
                        - '0_11500'
                        - '11501_19000'
                        - '19001_28500'
                        - '28501_47500'
                        - '47501_75000'
                        - 75001_+
                    incomeExplanation:
                      type: string
                      description: >-
                        Additional ways you earn money that were not identified
                        in the provided documents. This is a free-text field.
                - title: Business Profile
                  type: object
                  description: Payload for Business profile verification.
                  example:
                    businessUseCase:
                      - PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES
                      - PAYING_RENT_OR_UTILITIES
                    intendedCountries:
                      - deu
                      - esp
                    monthlyAnticipatedVolume: '0_1200'
                    mainSourceOfFunding: BUSINESS_LOAN
                  properties:
                    businessUseCase:
                      type: array
                      description: How the business intends to use the platform.
                      items:
                        type: string
                        enum:
                          - INVESTING_IN_FUNDS_STOCKS_BONDS_OR_SIMILAR
                          - DISTRIBUTING_COMPANY_PROFITS_OR_PAYING_DIVIDENDS
                          - PAYING_MORTGAGE_BANK_LOAN_INSURANCE_OR_CREDIT
                          - PAYING_FOR_GOODS_PROPERTIES_OR_SERVICES_ABROAD
                          - PAYING_RENT_OR_UTILITIES
                          - PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES
                          - PAYING_TAX_ON_PROFIT_OR_PROPERTY
                          - TRANSFER_WITHIN_COMPANY_OR_GROUP
                          - RECEIVE_INVESTMENTS_OR_FUNDS
                          - RECEIVE_PAYMENTS_FROM_CLIENTS
                          - DONATION
                          - OTHER
                    intendedCountries:
                      type: array
                      description: >
                        List of ISO 3166-1 alpha-3 country codes.<br>

                        Check the [lists of countries you can send money to with
                        Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).
                      items:
                        type: string
                    mainSourceOfFunding:
                      type: string
                      description: Primary source of business funding.
                      enum:
                        - REVENUE
                        - BUSINESS_LOAN
                        - FUNDING_AND_SHAREHOLDER_INVESTMENTS
                        - INVESTMENT_INCOME
                        - DONATIONS
                        - GRANTS
                        - OTHER
                    monthlyAnticipatedVolume:
                      type: string
                      description: Expected monthly transaction volume in Euros.
                      enum:
                        - '0_1200'
                        - '1201_6000'
                        - '6001_12000'
                        - '12001_60000'
                        - '60001_120000'
                        - '120001_235000'
                        - '235001_600000'
                        - '600001_1200000'
                        - '1200001_6000000'
                        - '6000001_12000000'
                        - 12000001_+
      responses:
        '204':
          description: No Content - Evidence successfully uploaded.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '400':
          description: >
            Bad Request - Invalid request payload (e.g. no evidence, misspelled
            evidence, unexpected value).

            Invalid evidence is populated in the response message.

            Note that correct evidence might be successfully uploaded.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '403':
          description: Forbidden - The client is not authorized to perform this request.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '409':
          description: >
            Conflict - One or more evidences are already uploaded and can't be
            re-submitted without an agent review.

            Unacceptable evidence is populated in the response message.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v5/profiles/{profileId}/additional-verification/upload-evidences:
    post:
      tags:
        - verification
      summary: Upload Evidences
      operationId: verificationUploadEvidences
      description: >
        Uploads verification evidence for a specific profile.


        The request body varies significantly between **Personal** and
        **Business** profiles.


        Submitting an evidence that was already uploaded will result in an
        attempt to update the evidence.
      security:
        - UserToken: []
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The unique identifier of the profile.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Personal Profile
                  type: object
                  description: Payload for Personal profile verification.
                  example:
                    accountPurpose: MOVING_SAVINGS
                    intendedCountries:
                      - deu
                      - esp
                    yearlyAnticipatedVolume: '0_2350'
                    mainSourceOfIncome: SALARY
                    annualIncome: '0_11500'
                  properties:
                    accountPurpose:
                      type: string
                      description: The primary reason for using the account.
                      enum:
                        - MOVING_SAVINGS
                        - SENDING_MONEY_TO_FRIENDS_OR_FAMILY
                        - GENERAL_LIVING_EXPENSES
                        - BUYING_GOODS_OR_SERVICES_ABROAD
                        - PAYING_FOR_MORTGAGE_OR_LOAN
                        - PAYING_BILLS
                        - RECEIVING_SALARY_OR_PENSION
                        - INVESTING
                    accountPurposeExplanation:
                      type: string
                      description: >-
                        Additional reasons and specific examples for using Wise
                        account. This is a free-text field.
                    intendedCountries:
                      type: array
                      description: >
                        List of ISO 3166-1 alpha-3 country codes.<br>

                        Check the [lists of countries you can send money to with
                        Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).
                      items:
                        type: string
                    yearlyAnticipatedVolume:
                      type: string
                      description: Expected yearly transaction volume in Euros.
                      enum:
                        - '0_2350'
                        - '2351_6000'
                        - '6001_11500'
                        - '11501_60000'
                        - '60001_175000'
                        - 175001_+
                    mainSourceOfIncome:
                      type: string
                      description: >-
                        Primary source of income. Must be submitted with
                        annualIncome.
                      enum:
                        - SALARY
                        - INVESTMENTS
                        - PENSION
                        - INHERITANCE
                        - LOAN
                        - OTHER
                    annualIncome:
                      type: string
                      description: >-
                        Expected annual income in Euros. Must be submitted with
                        mainSourceOfIncome.
                      enum:
                        - '0_11500'
                        - '11501_19000'
                        - '19001_28500'
                        - '28501_47500'
                        - '47501_75000'
                        - 75001_+
                    incomeExplanation:
                      type: string
                      description: >-
                        Additional ways you earn money that were not identified
                        in the provided documents. This is a free-text field.
                - title: Business Profile
                  type: object
                  description: Payload for Business profile verification.
                  example:
                    businessUseCase:
                      - PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES
                      - PAYING_RENT_OR_UTILITIES
                    intendedCountries:
                      - deu
                      - esp
                    monthlyAnticipatedVolume: '0_1200'
                    mainSourceOfFunding: BUSINESS_LOAN
                  properties:
                    businessUseCase:
                      type: array
                      description: How the business intends to use the platform.
                      items:
                        type: string
                        enum:
                          - INVESTING_IN_FUNDS_STOCKS_BONDS_OR_SIMILAR
                          - DISTRIBUTING_COMPANY_PROFITS_OR_PAYING_DIVIDENDS
                          - PAYING_MORTGAGE_BANK_LOAN_INSURANCE_OR_CREDIT
                          - PAYING_FOR_GOODS_PROPERTIES_OR_SERVICES_ABROAD
                          - PAYING_RENT_OR_UTILITIES
                          - PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES
                          - PAYING_TAX_ON_PROFIT_OR_PROPERTY
                          - TRANSFER_WITHIN_COMPANY_OR_GROUP
                          - RECEIVE_INVESTMENTS_OR_FUNDS
                          - RECEIVE_PAYMENTS_FROM_CLIENTS
                          - DONATION
                          - OTHER
                    intendedCountries:
                      type: array
                      description: >
                        List of ISO 3166-1 alpha-3 country codes.<br>

                        Check the [lists of countries you can send money to with
                        Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).
                      items:
                        type: string
                    mainSourceOfFunding:
                      type: string
                      description: Primary source of business funding.
                      enum:
                        - REVENUE
                        - BUSINESS_LOAN
                        - FUNDING_AND_SHAREHOLDER_INVESTMENTS
                        - INVESTMENT_INCOME
                        - DONATIONS
                        - GRANTS
                        - OTHER
                    monthlyAnticipatedVolume:
                      type: string
                      description: Expected monthly transaction volume in Euros.
                      enum:
                        - '0_1200'
                        - '1201_6000'
                        - '6001_12000'
                        - '12001_60000'
                        - '60001_120000'
                        - '120001_235000'
                        - '235001_600000'
                        - '600001_1200000'
                        - '1200001_6000000'
                        - '6000001_12000000'
                        - 12000001_+
      responses:
        '207':
          description: >-
            Multi-Status - Evidence(s) successfully uploaded, fully or
            partially.
          content:
            application/json:
              schema:
                type: object
                description: Response payload for evidence upload result.
                properties:
                  overallStatus:
                    type: string
                    description: Status of the entire request.
                    enum:
                      - SUCCESS
                      - PARTIAL_SUCCESS
                      - FAIL
                  results:
                    type: array
                    description: Results for each evidence.
                    items:
                      type: object
                      properties:
                        evidenceRequirementKey:
                          type: string
                          description: Name of the evidence.
                        result:
                          type: string
                          description: Result for the evidence.
                          enum:
                            - SUCCESS
                            - FAIL
                        message:
                          type: string
                          description: Explanation of result for the evidence.
              examples:
                success:
                  summary: Full success
                  value:
                    overallStatus: SUCCESS
                    results:
                      - evidenceRequirementKey: accountPurpose
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: annualIncome
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: intendedCountries
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: mainSourceOfIncome
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: yearlyAnticipatedVolume
                        result: SUCCESS
                        message: SUCCESS
                partialSuccess:
                  summary: Partial success
                  value:
                    overallStatus: PARTIAL_SUCCESS
                    results:
                      - evidenceRequirementKey: accountPurpose
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: annualIncome
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: intendedCountries
                        result: FAIL
                        message: >-
                          Could not update verification requirement at the
                          moment
                      - evidenceRequirementKey: mainSourceOfIncome
                        result: SUCCESS
                        message: SUCCESS
                      - evidenceRequirementKey: yearlyAnticipatedVolume
                        result: SUCCESS
                        message: SUCCESS
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '400':
          description: >-
            Bad Request - Invalid request payload (e.g. no evidence, misspelled
            evidence, unexpected value).
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '403':
          description: Forbidden - The client is not authorized to perform this request.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v3/profiles/{profileId}/verification-status/upload-document:
    post:
      tags:
        - verification
      summary: Upload Document
      operationId: verificationUploadDocument
      description: >
        Uploads verification documents for review. You can upload multiple files
        at once.


        A valid document must fulfil these requirements:


        - The document must be clear.

        - The document needs to be a .jpg, .png., or .pdf file type up to 10MB
        in size.
      security:
        - UserToken: []
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The profile ID (personal or business).
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              description: Request payload for uploading documents for verification
              properties:
                files:
                  type: string
                  format: binary
                  description: Path of the files to be uploaded.
                  example: '@/Users/test/file.png'
                documentType:
                  type: string
                  description: >
                    Type of document being uploaded.


                    Read our guides on acceptable documents for each of the
                    following:

                    - Source of wealth -
                    [guide](/guides/product/kyc/partner-kyc/additional-verification#source-of-wealth-document)

                    - Id Proof -
                    [guide](https://wise.com/help/articles/2949801/how-does-wise-verify-my-identity?origin=search-ID+coument+)

                    - Address Proof -
                    [guide](https://wise.com/help/articles/2949804/how-does-wise-verify-my-address?origin=search-proof+of+address+)

                    - Trading Address Proof -
                    [guide](/guides/product/kyc/partner-kyc/additional-verification#proof-of-trading-address-document)

                    - Business Authorisation Letter -
                    [guide](/guides/product/kyc/partner-kyc/additional-verification#business-authorisation-letter-document)
                  enum:
                    - SOURCE_OF_WEALTH
                    - ID_PROOF
                    - ADDRESS_PROOF
                    - TRADING_ADDRESS_PROOF
                    - BUSINESS_AUTH_REP_PROOF_BY_AUTH_LETTER
              required:
                - files
                - documentType
      responses:
        '204':
          description: No Content - Document successfully uploaded.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '400':
          description: >-
            Bad Request - Document cannot be uploaded in the current format.
            Check file size and extension.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '403':
          description: Forbidden - The client is not authorized to perform this request.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '409':
          description: >-
            Conflict - Document is already uploaded and cannot be re-submitted
            before review.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '413':
          description: Payload Too Large - Requested file size is too large.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '415':
          description: >-
            Unsupported Media Type - Request payload is in an unsupported
            format.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v3/profiles/{profileId}/verification-status/required-evidences:
    get:
      tags:
        - verification
      summary: Required Evidences
      operationId: verificationGetRequiredEvidences
      description: >
        Fetches the required evidences for a profile to complete additional
        customer verification.


        If one or more evidences are returned, the customer should submit those
        evidences using the upload-evidences endpoint.


        See the [Supported Evidences
        guide](/guides/product/kyc/partner-kyc/supported-evidences) for the list
        of possible evidence types and how to submit them.
      security:
        - UserToken: []
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The unique identifier of the profile.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: OK - Successfully retrieved required evidences.
          content:
            application/json:
              schema:
                type: object
                description: Response payload containing required evidences for a profile.
                properties:
                  required_evidences:
                    type: array
                    description: List of evidence types required to complete verification.
                    items:
                      type: string
              example:
                required_evidences:
                  - SOURCE_OF_WEALTH
                  - INCOME
                  - USE_CASE_COUNTRIES
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '403':
          description: Forbidden - The client is not authorized to perform this request.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v1/addresses:
    post:
      tags:
        - address
      summary: Create or Update an Address
      operationId: addressCreate
      description: >
        Adds address info to user profile.


        List of required fields are different for different countries. Use the
        [address requirements endpoint](#operation/addressRequirementsGet) to
        dynamically discover required fields.


        For updating personal profiles, consider using [the personal profile
        update endpoint](/api-reference/profile/profilepersonalupdate) instead.
        It allows submitting the address information alongside other profile
        data.


        **State field** is required for US, CA, BR, and AU addresses.


        **Occupations** is required for CA, IN, JP, ID, IL, MX, and within the
        US for the state NM.
      security:
        - UserToken: []
        - PersonalToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequest'
      responses:
        '200':
          description: OK - Address successfully created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
              example:
                id: 10000001
                profile: 12345678
                details:
                  country: US
                  state: AZ
                  city: Phoenix
                  postCode: '10025'
                  firstLine: 50 Sunflower Ave
                  occupations:
                    - code: Software Engineer
                      format: FREE_FORM
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
      parameters:
        - $ref: '#/components/parameters/X-External-Correlation-Id'
    get:
      tags:
        - address
      summary: List Addresses for a Profile
      operationId: addressList
      description: List of addresses belonging to user profile.
      security:
        - UserToken: []
        - PersonalToken: []
      parameters:
        - name: profile
          in: query
          example: 12345678
          schema:
            type: integer
            format: int64
          description: The profile ID to list addresses for.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: OK - Successfully retrieved addresses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
              example:
                - id: 10000001
                  profile: 12345678
                  details:
                    country: US
                    state: AZ
                    city: Phoenix
                    postCode: '10025'
                    firstLine: 50 Sunflower Ave
                    occupations:
                      - code: Software Engineer
                        format: FREE_FORM
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v1/addresses/{addressId}:
    get:
      tags:
        - address
      summary: Retrieve an Address by ID
      operationId: addressGet
      description: Get address info by ID.
      security:
        - UserToken: []
        - PersonalToken: []
      parameters:
        - name: addressId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: The unique identifier of the address.
        - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: OK - Successfully retrieved the address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
              example:
                id: 10000001
                profile: 12345678
                details:
                  country: US
                  state: AZ
                  city: Phoenix
                  postCode: '10025'
                  firstLine: 50 Sunflower Ave
                  occupations:
                    - code: Software Engineer
                      format: FREE_FORM
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v1/address-requirements:
    get:
      tags:
        - address
      summary: Get Address Requirements
      operationId: addressRequirementsGet
      description: >
        Returns the list of fields required to create a valid address. Use this
        as a starting point to discover required fields.


        The response contains 4 required top-level fields:

        - `country` (select field with list of values)

        - `city` (text field)

        - `postCode` (text field)

        - `firstLine` (text field)


        If a field has `refreshRequirementsOnChange: true`, call the POST
        endpoint with that field's value to discover additional required fields.


        For a step-by-step walkthrough, see the [Address Requirements
        guide](/guides/developer/api-guides/address-requirements).
      security:
        - UserToken: []
        - PersonalToken: []
      responses:
        '200':
          description: OK - Successfully retrieved address requirements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressRequirementsResponse'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
      parameters:
        - $ref: '#/components/parameters/X-External-Correlation-Id'
    post:
      tags:
        - address
      summary: Get Address Requirements (with context)
      operationId: addressRequirementsPost
      description: >
        Returns the list of fields required to create a valid address, based on
        the provided context.


        Use this endpoint to dynamically discover additional required fields
        based on selected values. For example:

        - Posting `{"details": {"country": "US"}}` will add "state" to the list
        of fields.

        - Posting `{"details": {"country": "CA"}}` will add "occupations" to the
        list of fields.


        Continue calling this endpoint with field values until all fields with
        `refreshRequirementsOnChange: true` have been populated.


        For a step-by-step walkthrough, see the [Address Requirements
        guide](/guides/developer/api-guides/address-requirements).
      security:
        - UserToken: []
        - PersonalToken: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequirementsRequest'
            example:
              details:
                country: US
      responses:
        '200':
          description: OK - Successfully retrieved address requirements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressRequirementsResponse'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
      parameters:
        - $ref: '#/components/parameters/X-External-Correlation-Id'
  /v4/profiles/{profileId}/balances:
    post:
      tags:
        - balance
      summary: Create a Balance Account
      operationId: balanceCreate
      description: >
        Opens a balance within the specified profile, in the currency and type
        specified in the request.


        For `STANDARD` balances, only one can be created per currency. For
        `SAVINGS` balances, multiple in the same currency can be opened.


        When creating a `SAVINGS` type balance, a `name` is required.
      security:
        - UserToken: []
        - PersonalToken: []
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: integer
[...]
