{"openapi":"3.1.0","info":{"title":"Wise Platform API","version":"","description":"The Wise Platform API is a REST-based interface that enables programmatic access to Wise\u0027s payment infrastructure. All endpoints return JSON-formatted responses and use standard HTTP methods and status codes.\n{% admonition type=\u0022success\u0022 name=\u0022New to wise?\u0022 %}\n  We strongly recommend first reading our **[Getting Started Guide](/guides/developer/index.md)** to help you set up credentials and make your first call.\n{% /admonition %}\n\nBefore you begin {% .title-2 .m-t-5 %}\n\nTo use this API reference effectively, you should have:\n\n- Received Valid [API credentials from Wise](/guides/developer/auth-and-security/index.md) (Client ID and Client Secret)\n- Understand OAuth 2.0 authentication\n- Be familiar with RESTful API concepts\n\nCore API resources {% .title-2 .m-t-5 .m-b-0 %}\n\n| Resource | Purpose |\n|----------|---------|\n| **[Quote](/api-reference/quote)** | Exchange rate and fee calculations |\n| **[Recipient](/api-reference/recipient)** | Beneficiary account management |\n| **[Transfer](/api-reference/transfer)** | Payment creation and execution |\n| **[Balance](/api-reference/balance)** | Multi-currency account operations |\n| **[Profile](/api-reference/profile)** | Account ownership details |\n| **[Rate](/api-reference/rate)** | Current and historical exchange rates |\n\n**Not sure which workflow to build?**\u003Cbr\u003E\nStart with our [Integration Guides](/guides/product/send-money/use-cases/index.md) for step-by-step implementation examples.{% .m-t-3 .m-b-5 %}\n"},"servers":[{"url":"https://api.wise.com","description":"Production Environment"},{"url":"https://api.wise-sandbox.com","description":"Sandbox Environment"}],"tags":[{"name":"3ds","x-displayName":"3D Secure Authentication","description":"To manage certain aspects of the 3D Secure (3DS) authentication, you will need to integrate with the following APIs.\n"},{"name":"activity","x-displayName":"Activity","description":"Activity represents a snapshot of a performed action for a profile.\n"},{"name":"verification","x-displayName":"Additional Verification","description":"In certain situations, additional evidence is required to verify customers and ensure we\u2019re compliant with the KYC regulations.\n\nAdditional Verification APIs support a list of evidences that can be found in the [Supported Evidences guide](/guides/product/kyc/partner-kyc/supported-evidences).\n\nIf you use the [Customer Account with Partner KYC](/guides/product/kyc/partner-kyc) model and your customers are primarily based in the EU,\nrefer to this [Onboarding EU customers](/guides/product/kyc/partner-kyc/additional-verification#onboarding-eu-customers) guide\nfor instructions on how to use these APIs.\n\nIf you use the [Customer Account with Partner KYC](/guides/product/kyc/partner-kyc) model and you are onboarding high risk business customers\nbased primarily based in the US, refer to\nthis [Onboarding High Risk US Businesses](/guides/product/kyc/partner-kyc/additional-verification#onboarding-high-risk-us-businesses) guide for \ninstructions on how to use these APIs.\n"},{"name":"address","x-displayName":"Addresses","description":"Manage physical addresses associated with user profiles.\n\nAddress requirements vary by country \u2014 use the address requirements endpoints to dynamically discover which fields are needed before creating an address.\n"},{"name":"balance","x-displayName":"Balances","description":"Create and manage balance accounts within a multi-currency account.\n\nEach profile can hold multiple balance accounts in different currencies. A \u0060STANDARD\u0060 balance is limited to one per currency, while \u0060SAVINGS\u0060 balances (Jars) allow multiple in the same currency. Creating the first balance for a profile automatically creates the multi-currency account.\n\nBalances include an \u0060investmentState\u0060 field. Only balances with \u0060NOT_INVESTED\u0060 can be operated on via the API. Invested balances should be shown but not actionable.\n\nFor a complete guide on multi-currency accounts, see [Multi-Currency Accounts](/guides/product/accounts).\n"},{"name":"balance-statement","x-displayName":"Balance Statements","description":"Balance statements contain transactional activities on a Wise Multi-Currency Account, including deposits, withdrawals, conversions, card transactions, and fees.\n\nStatements can be retrieved in multiple formats: JSON, CSV, PDF, XLSX, CAMT.053, MT940, or QIF.\n"},{"name":"bank-account-details","x-displayName":"Bank Account Details","description":"Bank account details allow users to receive money into their Wise Multi-Currency Account. Each currency balance can have local bank details (for domestic payments) and international bank details (for SWIFT payments) where available.\n\nBank account details can be retrieved for existing balances, or new details can be ordered for currencies where they\u0027re available but not yet issued.\n"},{"name":"batch-group","x-displayName":"Batch Payment Groups","description":"A batch group is a named collection of up to 1000 transfers that can be managed as a single unit. Batch groups are primarily used for funding multiple transfers with a single payment.\n\n**Workflow:**\n1. Create a batch group with a source currency\n2. Add transfers to the group (up to 1000)\n3. Complete the batch group to close it for modifications\n4. Fund the batch group from a balance or via direct debit\n\nIndividual transfers in the group follow standard transfer lifecycle and can be tracked separately.\n"},{"name":"bulk-settlement","x-displayName":"Bulk Settlement","description":"Bulk settlement allows partners to settle multiple transfers in a single bank transfer at the end of a settlement period. This model splits transfer creation/funding from final settlement, allowing Wise to process transfers before receiving funds based on a partner\u0027s guarantee.\n\nUse the settlement journal endpoint to submit a list of transfers to be settled, along with the settlement reference that matches your bank transfer payment.\n"},{"name":"card","x-displayName":"Cards","description":"Manage your customers\u0027 cards programmatically. These APIs allow you to list cards, retrieve card details, control card status, and manage spending permissions.\n\n**Key capabilities:**\n- List and retrieve card details for a profile\n- Update card status (active, frozen, blocked)\n- Control spending permissions (e-commerce, ATM, contactless, magnetic stripe, etc.)\n- Reset PIN attempt counter after incorrect PIN entries\n- Update card phone number for verification purposes\n\n{% admonition type=\u0022info\u0022 %}\nFor accessing sensitive card data (PAN, CVV, PIN), see the [Sensitive Card Details API](/api-reference/card-sensitive-details). For ordering new cards, see the [Card Orders API](/api-reference/card-order). For transaction history, see the [Card Transactions API](/api-reference/card-transaction).\n{% /admonition %}"},{"name":"card-sensitive-details","x-displayName":"Sensitive Card Details","description":"Wise is a PCI DSS compliant provider and stores all card data securely. The scope for PCI compliance depends on your use case and will impact how you integrate. For all sensitive card details endpoints, follow the [detailed guide](/guides/product/issue-cards/sensitive-card-details).\n\n**Key capabilities:**\n- Access sensitive card data (PAN, CVV, PIN) via encrypted JWE payloads\n\n**Related operations:**\n- For card management (list, status, permissions), see the [Cards API](/api-reference/card)\n- For ordering new cards, see the [Card Orders API](/api-reference/card-order)\n- For transaction history, see the [Card Transaction API](/api-reference/card-transaction)"},{"name":"card-kiosk-collection","x-displayName":"Card Kiosk Collection","description":"These APIs are designed to allow you to print and encrypt your card directly from a kiosk machine. The card information will be sent to our card manufacturer to configure and print the card on-site on a kiosk machine.\n\nThe card printing process will automatically begin once the request is received by our card manufacturer.\n\nDuring the printing process, you will be notified via webhook about any [card production status change](/api-reference/webhook-event/eventcardscardproductionstatuschange).\n\nBefore using these APIs, make sure to read the guide on [kiosk collection](/guides/product/issue-cards/card-kiosk-collection#card-kiosk-collection).\n\n{% admonition type=\u0022warning\u0022 %}\nPlease reach out to your Implementation Manager for more information on these APIs.\n{% /admonition %}\n\n**Testing**: In the sandbox environment, use the [card production simulation API](/api-reference/simulation/simulationcardproduction) to test your integration with various production statuses and error scenarios.\n\nProduction status flow {% .title-2 .m-t-5 %}\n\nThese statuses represent the lifecycle of a card production:\n\n- \u0060READY\u0060 - Card is ready for production. The [produce card endpoint](/api-reference/card-kiosk-collection/cardkioskcollectionproduce) can be called.\n- \u0060IN_PROGRESS\u0060 - Card is being produced at the kiosk machine (chip encryption and printing in progress).\n- \u0060PRODUCED\u0060 - Card has been successfully produced and collected from the kiosk. This is a final state.\n- \u0060PRODUCTION_ERROR\u0060 - Card production failed. Check the errorCode to identify the issue, resolve it, then retry using the [produce card endpoint](/api-reference/card-kiosk-collection/cardkioskcollectionproduce).\n\nA card with production status \u0060PRODUCED\u0060 will trigger an asynchronous call to update the associated card order to \u0060PRODUCED\u0060 status.\n\n![Card production status flow](/images/diagrams/card-production-status-flow.png)\n"},{"name":"card-order","x-displayName":"Card Orders","description":"With this set of APIs, you will be able to create cards for your customers. You can also retrieve and view the status of your current card orders, as well as the list of available card programs for the user.\n\n{% admonition type=\u0022info\u0022 %}\nOn production, each personal profile can order at most 1 physical card and 3 virtual cards. On sandbox, we allow up to 10 physical cards and 30 virtual cards for testing purpose. However, no more than 3 virtual cards can be ordered per day. This limit includes cards and card orders.\n{% /admonition %}\n\nCard order status flow {% #card-order-status-flow .title-3 .m-t-5 %}\n\nThe card order response will contain the \u0060status\u0060 field. The initial status is \u0060PLACED\u0060 or \u0060REQUIREMENTS_FULFILLED\u0060 depending on the requirement fulfillment state:\n\n- \u0060PLACED\u0060 - The card order is created. The card will be generated once it has fulfilled all the requirements\n- \u0060REQUIREMENTS_FULFILLED\u0060 - The card order has fulfilled all the requirements and the card should be generated in a short while\n- \u0060CARD_DETAILS_CREATED\u0060 - The card has been generated\n- \u0060PRODUCED\u0060 - The physical card has been produced and waiting to be picked up by delivery vendor (physical card only)\n- \u0060COMPLETED\u0060 - The card has been activated and is ready to use. The card order is completed\n- \u0060CANCELLED\u0060 - The card order has been cancelled. This can happen if you reach out to Wise Support to cancel a card order\n- \u0060RETURNED\u0060 - Delivery failed, the physical card has been returned and will be blocked (physical card only)\n\n![Card order status state machine](/images/diagrams/card-order-status-flow.png)\n"},{"name":"card-transaction","x-displayName":"Card Transactions","description":"Retrieve information on transactions made on your users\u0027 cards.\n\nTransaction types {% #card-transaction-type .title-3 .m-t-5 %}\n\nThe possible \u0060type\u0060 values are:\n\n- \u0060ACCOUNT_CREDIT\u0060 - Receiving money on the card, excluding Visa OCT or Mastercard MoneySend\n- \u0060ACCOUNT_FUNDING\u0060 - Sending money to another card or e-wallet\n- \u0060CASH_ADVANCE\u0060 - Cash disbursement\n- \u0060CASH_WITHDRAWAL\u0060 - ATM withdrawal\n- \u0060CHARGEBACK\u0060 - Currently unused. Reserved for future use\n- \u0060CREDIT_TRANSACTION\u0060 - Visa OCT and Mastercard MoneySend\n- \u0060ECOM_PURCHASE\u0060 - Online purchase\n- \u0060POS_PURCHASE\u0060 - Purchase via a POS terminal\n- \u0060REFUND\u0060 - Partial or full refund of an existing card transaction\n\nTransaction states {% #card-transaction-state .title-3 .m-t-5 %}\n\nThe possible \u0060state\u0060 values are:\n\n- \u0060IN_PROGRESS\u0060 - The transaction has been authorized but not captured\n- \u0060COMPLETED\u0060 - The transaction has been captured and/or settled\n- \u0060DECLINED\u0060 - The transaction has been declined\n- \u0060CANCELLED\u0060 - The transaction has been cancelled\n- \u0060UNKNOWN\u0060 - Default fallback status if the state cannot be confirmed\n\nThe transition from \u0060CANCELLED\u0060 to \u0060COMPLETED\u0060 is an edge case. Wise releases the customer funds after 7 days (30 days for pre-authorization) if the merchant has not captured the transaction, and the state becomes \u0060CANCELLED\u0060. However, the merchant can decide to capture the transaction at a later date, at which point the state will become \u0060COMPLETED\u0060.\n\n![Transaction state flow](/images/diagrams/transaction-state-flow.png)\n\nDecline reasons {% #card-transaction-decline-reasons .title-3 .m-t-5 %}\n\nThe decline reason field provides information about the specific issue that led to the transaction being declined, helping the merchant and the customer troubleshoot the problem.\n\nWhile the decline reason field provides valuable information, it may not cover all possible reasons for a decline, such as technical issues or unforeseen circumstances.\n\n{% admonition type=\u0022warning\u0022 %}\nNew decline reasons may be added in the future, and not all decline reasons are currently documented. Review this documentation regularly to ensure accuracy.\n{% /admonition %}\n\n{% admonition type=\u0022warning\u0022 %}\nExercise caution when communicating decline reasons to your customers, as some may not be relevant or may cause confusion.\n{% /admonition %}\n\n- \u0060ACCOUNT_INACTIVE\u0060 - Balance related to the transaction is not active. Ensure that all outstanding actions have been completed before using the card, as this may help avoid potential issues or declines\n- \u0060ACCOUNT_SUSPENDED\u0060 - The transaction has been declined pending further compliance checks. It may have been flagged for potential sanctions issues\n- \u0060ATM_PIN_CHANGE_NOT_ALLOWED\u0060 - PIN change via ATM terminal is not allowed\n- \u0060BLOCKED_COUNTRY\u0060 - Transactions were made in unsupported countries. Check this [link](https://wise.com/help/articles/2935771/where-can-i-use-my-wise-card) to see if the country is included in the list of supported nations. It is possible for a merchant to be based in a supported country and have an address registered in a blocked country, albeit infrequently\n- \u0060BLOCKED_SUBSCRIPTION\u0060 - The system cannot facilitate this transaction as the customer has opted out of recurring payments with this merchant\n- \u0060CARD_EXPIRED\u0060 - The card provided has reached its expiration date, making it invalid for this transaction\n- \u0060CARD_FROZEN\u0060 - The customer or the customer service team has put this card on a temporary hold. If the card has not been frozen by the customer, it may be worth investigating further. To resume spending, advise the customer to unfreeze the card\n- \u0060CARD_INACTIVE\u0060 - The card is either not active or has not been received by the customer, so the transaction cannot proceed\n- \u0060CARD_BLOCKED\u0060 - The card has been blocked and cannot be used anymore\n- \u0060CARD_PARTNER_SUSPENDED\u0060 - The internal team has deactivated the account for compliance reasons related to AML, fraud, or EDD. Contact the team if this is believed to be an error\n- \u0060CHIP_PIN_ENTRY_TRIES_EXCEEDED\u0060 - The PIN is restricted on the chip of the card due to excessive incorrect entries. The blocked PIN can be unlocked at an ATM using specific steps that vary depending on the machine and country, such as PIN management or PIN operations followed by unblocking the PIN\n- \u0060CONNECTION_ISSUE\u0060 - A connection problem occurred during the transaction\n- \u0060CONTACTLESS_PIN_ENTRY_REQUIRED\u0060 - Contactless payment systems sometimes require a PIN for authentication purposes to protect users\u0027 accounts from potential fraud or tampering. In Europe, contactless payment transactions that follow one after the other require PIN verification as an additional security measure\n- \u0060CREDIT_TRANSACTIONS_NOT_SUPPORTED\u0060 - Credit is not supported for this specific transaction. Review the [Acceptable Use Policy](https://wise.com/gb/legal/acceptable-use-policy-eea) for further information\n- \u0060CUMULATIVE_LIMIT_EXCEEDED\u0060 - In certain jurisdictions, there are restrictions on the amount that can be spent. Refer to [spending limits](https://wise.com/help/articles/2899986/what-are-my-spending-limits) for further details\n- \u0060DECLINED_ADVICE\u0060 - There is a problem with the message from the processor, so it might not be accepted because it could be incomplete or unsafe. This does not indicate a problem with the card. Advise the customer that there was a technical issue with the payment and to try again later\n- \u0060INCORRECT_CVV\u0060 - The customer entered the wrong security code. Advise the customer to check their card details and try again. If the saved card details are correct, they should remove their card details from the merchant\u0027s website and add them back again\n- \u0060INCORRECT_EXPIRY_DATE\u0060 - The customer entered the wrong expiration date for their card. If the saved card details are correct, they should remove their card details from the merchant\u0027s website and add them back again\n- \u0060INCORRECT_PIN\u0060 - The customer entered their PIN incorrectly. Advise the customer to check their PIN and try again. If the PIN is correct and still fails, suggest resetting the PIN\n- \u0060INSUFFICIENT_FUNDS\u0060 - The customer does not have enough money in their account to make the payment. Advise the customer to add money to their account and try again. In most cases, this will resolve the issue\n- \u0060INVALID_3DS_UCAF\u0060 - The 3D Secure checks failed during the transaction. The customer should try again and request authentication\n- \u0060INCORRECT_ARQC\u0060 - ARQC (Authorization Request Cryptogram) is a cryptogram generated by the card during a transaction, which is validated on the server side. If incorrect, it could indicate a faulty card, a fraudulent attack, or an issue with the POS terminal\n- \u0060INCORRECT_ICVV\u0060 - ICVV (Integrated Circuit Card Verification Value) is a security feature used to validate the authenticity of a card during chip-based transactions. There were problems reading the chip on the card, which may indicate an issue with the card\u0027s chip, the terminal, or the transaction process. Wait and try again\n- \u0060INVALID_MERCHANT\u0060 - Transaction from a specific merchant is declined by scheme. The merchant should clarify the exact cause with the scheme\n- \u0060INVALID_TRANSACTION\u0060 - Certain types of transactions are not supported. The customer should ask the merchant to use a different payment method or try a different merchant\n- \u0060MANDATE_DCC_NON_SUPPORTED_FOR_CARD_COUNTRY\u0060 - The transaction was declined because the system does not support conversions for Brazilian cards when BRL is involved. BRL will not be automatically exchanged to other currencies. If the customer wants to continue with the payment, they need to change the currency\n- \u0060MANDATE_LOCAL_CASH_WITHDRAWAL_NOT_ALLOWED\u0060 - ATM withdrawal services are not provided in the country where the transaction is taking place\n- \u0060NON_SUPPORTED_CURRENCY\u0060 - The currency in this transaction is not supported\n- \u0060NON_SUPPORTED_MCC_FOR_COUNTRY\u0060 - Transactions in this category are not supported for customers in the country of purchase. Consider using an alternative payment method or changing merchant\n- \u0060PAYMENT_METHOD_DAILY_LIMIT_EXCEEDED\u0060 - The customer has reached the daily spending limit for the card or their profile. Advise if they would like to update [card](/api-reference/spend-limits/spendlimitscardupdate) or [profile](/api-reference/spend-limits/spendlimitsprofileupdate) limit\n- \u0060PAYMENT_METHOD_LIFETIME_LIMIT_EXCEEDED\u0060 - The customer has reached the lifetime spending limit. Advise if they would like to [increase](/api-reference/spend-limits/spendlimitscardupdate) their lifetime limit\n- \u0060PAYMENT_METHOD_MONTHLY_LIMIT_EXCEEDED\u0060 - The customer has reached the monthly spending limit for the card or their profile. Advise if they would like to update [card](/api-reference/spend-limits/spendlimitscardupdate) or [profile](/api-reference/spend-limits/spendlimitsprofileupdate) limit\n- \u0060PAYMENT_METHOD_NOT_ALLOWED\u0060 - This payment type has been disabled. Advise if they would like to [enable](/api-reference/card/cardpermissionsbulkupdate) the payment type\n- \u0060PAYMENT_METHOD_TRANSACTION_LIMIT_EXCEEDED\u0060 - The customer has exceeded the transaction limit for the card. Advise if they would like to update their [card](/api-reference/spend-limits/spendlimitscardupdate) limit\n- \u0060PIN_ENTRY_TRIES_EXCEEDED\u0060 - The customer has reached the maximum number of allowed online PIN entry attempts. Consider implementing a [reset PIN](/api-reference/card/cardpincountreset) feature within the app to help the customer regain access to their card\n- \u0060PRE_ACTIVATED_CARD_PIN_ENTRY_REQUIRED\u0060 - The customer has attempted to make a contactless payment at a POS or ATM, but their card has not been activated for chip and PIN transactions. To modify the card activation strategy for all cards, contact the implementation manager\n- \u0060PROCESSING_ERROR\u0060 - The system is currently experiencing technical difficulties. Advise the customer to try again after a brief period\n- \u0060RESTRICTED_MODE\u0060 - Although rare, restricted mode can occur. Advise the customer to replace their card promptly as the system should have already informed them. In this mode, more secure payment methods like chip and PIN, contactless, mobile wallets, and online payments with 3DS are allowed, while less secure methods like magnetic stripe and online payments without 3DS are not permitted\n- \u0060REVERSAL_NOT_MATCHING_AUTH_CURRENCY\u0060 - The merchant has issued a reversal instruction for a different currency than what was originally requested during the authorization process\n- \u0060SCA_SOFT_DECLINE\u0060 - The transaction cannot proceed due to SCA regulations. Suggest the customer contact the merchant and use a more secure authentication method such as 3DS. For example, the customer can try chip and PIN, or a mobile wallet like Apple Pay or Google Pay\n- \u0060SCHEME_BLOCKED_TRANSACTION\u0060 - This transaction has been flagged by the scheme and cannot be processed\n- \u0060SECURITY_CVM_FAILURE\u0060 - The system has detected that the POS terminal was misconfigured and failed security checks. Suggest the customer use an alternative payment method like contactless or mobile wallets, or recommend asking the merchant to accept a signature instead\n- \u0060SECURITY_MAGSTRIPE_SECURE_ELEMENTS_INCORRECT_OR_MISSING\u0060 - The merchant has entered the wrong type of purchase. Advise the customer to contact the merchant and ask them to correct this issue\n- \u0060SECURITY_PIN_ENTRY_REQUIRED\u0060 - To proceed with this transaction, the customer is required to enter their PIN\n- \u0060SUSPECTED_FRAUD\u0060 - This transaction has been labeled as high-risk by Wise\n- \u0060SUSPECTED_FRAUD_AML\u0060 - This transaction has been flagged as high-risk based on AML compliance protocols. This reason cannot be disclosed to end customers\n- \u0060SUSPECTED_FRAUD_COMPLIANCE\u0060 - The compliance system has flagged this transaction as high-risk. This reason cannot be disclosed to end customers\n- \u0060SUSPECTED_FRAUD_CORE_FRAUD\u0060 - This transaction has been blocked based on fraud policies and procedures\n- \u0060SUSPECTED_FRAUD_SANCTIONS\u0060 - This transaction has been flagged as high-risk based on sanctions list analysis. This reason cannot be disclosed to end customers. This classification is final and cannot be appealed\n- \u0060SUSPECTED_FRAUD_SOFT_DECLINE\u0060 - This e-commerce transaction cannot be processed due to high risk factors. The merchant must complete 3DS before the transaction can be approved\n- \u0060TRANSACTION_TYPE_NOT_SUPPORTED\u0060 - There are restrictions on this type of transaction, and sometimes the scheme will not allow it. Check if [spend control](/api-reference/spend-controls) is set up to block this transaction\n- \u0060UNEXPECTED_ERROR\u0060 - There may have been a communication error between the merchant\u0027s system and the server, but the POS system may have already notified the user of this issue\n\nDetailed decline reasons {% #card-transaction-detailed-decline-reasons .title-3 .m-t-5 %}\n\nDetailed decline reasons provide secondary level information for certain decline reasons, adding more context to transaction failures.\n\nPlease be aware that new detailed decline reasons may be added in the future, and not all reasons are currently documented. Therefore, it is important to exercise caution and regularly review the documentation to ensure accuracy.\n\n{% admonition type=\u0022warning\u0022 %}\nPlease exercise caution when communicating reasons to your customers, as some may not be relevant or may cause confusion. If you have any questions or concerns, we are here to assist you.\n{% /admonition %}\n\n- \u0060INSUFFICIENT_FUNDS_FOR_BLOCKED_SMART_CONVERSION\u0060 - Transaction was declined due to insufficient balance in transaction currency when smart conversion feature is disabled (e.g. BRL cards). The customer needs to convert their funds to the transaction currency and try again.\n- \u0060INSUFFICIENT_FUNDS_FOR_SPECIFIC_CURRENCY_RESERVATION\u0060 - The transaction will be declined with this reason if the customer\u0027s card is issued in a region subject to smart conversion limitations, and the transaction currency is the limited currency but the customer doesn\u0027t hold enough of that currency. Other currencies won\u0027t be automatically converted to the limited currency. The customer needs to convert their funds to the transaction currency before retrying the payment.\n- \u0060SUSPECTED_FRAUD_NO_BALANCE\u0060 - The customer might be abusing merchants by saving a card without having any balance to cover upcoming charges from them. The customer will need to top up their account to cover any charges from the merchant at a later date before re-attempting the transaction.\n- \u0060RESET_YOUR_PIN_AT_ATM\u0060 - There\u0027s a problem with how Chip was read and we had to decline the transaction. The customer will need to reset their PIN at an ATM.\n- \u0060INCORRECT_CVV2\u0060 - Invalid CVV2 was provided. The customer needs to check their saved card details and if they\u0027re correct, they should remove and add their card details to the merchant\u0027s website again. If this doesn\u0027t help, they could try to use their card at another merchant\u0027s website. If the same issue happens, they\u0027ll need to order a new card.\n- \u0060SCA_SOFT_DECLINE_CONTACTLESS\u0060 - Contactless transaction could not be approved due to SCA regulations. The customer should perform at least one PIN transaction or use an ATM to reset PIN.\n- \u0060SUSPECTED_FRAUD_REVIEW_ACTIVITY\u0060 - We couldn\u0027t confirm all transactions in the customer\u0027s activity were done by them, so we froze their card. The customer should review recent transactions and unfreeze the card.\n- \u0060INVALID_TRANSACTION_TYPE_FINAL\u0060 - This decline reason is used for unmapped processor or network error codes, indicating an external system issue or unclassified response. The decision authority on the transaction information identifies a SCHEME decline, which may relate to card usage in unsupported countries. The customer will need to use an alternative payment method to complete this transaction.\n- \u0060INVALID_TRANSACTION_TYPE_CONTACTLESS_MAGSTRIPE\u0060 - The POS terminal used a deprecated and not secure way to transmit card data. The customer will need to use another POS machine or try another payment method (Chip and PIN or Mobile Wallet).\n- \u0060INVALID_TRANSACTION_TYPE_FALLBACK\u0060 - The chip couldn\u0027t be read due to a technical issue which resulted in the transaction \u0022falling back\u0022 to magnetic stripe. As damaging the chip (so it would fall back to stripe) is a common way of fraud, these types of transactions are often deemed risky and being blocked.\n    The customer will need to:\n    - Try again or try a different terminal / ATM if it still doesn\u0027t work\n    - Use another payment method, e.g. Contactless\n    - Use another card\n    - If the issue persists with multiple terminals, they\u0027ll need to replace their card as it may be damaged\n- \u0060CONTACTLESS_DISABLED\u0060 - \u0060POS_CONTACTLESS\u0060 permission (contactless payments) is disabled. The customer will need to enable the permission to allow contactless transactions.\n- \u0060ECOM_DISABLED\u0060 - \u0060ECOM\u0060 permission (online payments) is disabled. The customer will need to enable the permission to allow e-commerce transactions.\n- \u0060CHIP_DISABLED\u0060 - \u0060POS_CHIP\u0060 permission (Chip transactions) is disabled. The customer will need to enable the permission to allow Chip transactions.\n- \u0060MAGSTRIPE_DISABLED\u0060 - \u0060POS_MAGSTRIPE\u0060 permission (magnetic stripe transactions) is disabled. The customer will need to enable the permission to allow magnetic stripe transactions.\n- \u0060WALLET_DISABLED\u0060 - \u0060MOBILE_WALLETS\u0060 permission is disabled. The customer will need to enable the permission to allow mobile wallet transactions.\n- \u0060PROFILE_GENERAL_DAILY_LIMIT_EXCEEDED_CHANGEABLE\u0060 - The customer has reached their daily total account limit (profile-level). The customer will need to edit the limit.\n- \u0060PROFILE_GENERAL_MONTHLY_LIMIT_EXCEEDED_CHANGEABLE\u0060 - The customer has gone over their monthly total account limit (profile-level). The customer will need to edit the limit.\n- \u0060CARD_GENERAL_DAILY_LIMIT_EXCEEDED_CHANGEABLE\u0060 - The customer has reached their daily limit for this card (card-level). The customer will need to edit the limit.\n- \u0060CARD_GENERAL_MONTHLY_LIMIT_EXCEEDED_CHANGEABLE\u0060 - The customer has gone over the monthly limit for this card (card-level). The customer will need to edit the limit.\n- \u0060PAYMENT_METHOD_MAX_MONTHLY_LIMIT_EXCEEDED\u0060 - The card\u0027s maximum non-changeable monthly spending limit has been reached. The customer will need to wait until the start of the next calendar month to perform transactions again.\n- \u0060UNKNOWN\u0060 - This decline reason is used when the processor or network returns an error code that is not mapped to any of our specific detailed decline reasons. This can be caused by various external system issues or unclassified processor responses."},{"name":"claim-account","x-displayName":"Claim Account","description":"Allow a customer to take ownership of an account [created on their behalf](/api-reference/user/usercreate). Generate a short-lived \u0060claim_account_code\u0060 and use it when [redirecting the customer to Wise](/guides/product/kyc/wise-kyc/redirect-to-wise/claim-account) to finalize their account setup.\n"},{"name":"comparison","x-displayName":"Comparison","description":"The comparison API can be used to request price and speed information about various money transfer providers. This includes not only Wise but other providers in the market.\n\nPrice Estimation {% #comparison-price-estimation .title-3 .m-t-5 %}\n\nThe quotes (price and speed) provided by this API are based off of real quotes collected from 3rd party websites. We collect both the advertised exchange rate and fee for each provider for various amounts. When a comparison is requested, we calculate the markup percentage of the collected exchange rate on the mid-market rate at the time of collection. We then apply this markup to the current mid-market rate to provide a realistic estimate of what each provider offers. We collect data for all providers around once per hour to ensure we provide as accurate and up-to-date information as possible.\n\nNote: Today, we only provide estimations for FX transactions with a Bank Transfer pay-in and pay-out option. This is important to stress as many providers offer significantly different fees and exchange rates when used debit/credit card, cash etc.\n\nFor more details on the data collection process please see the following page:\n[https://wise.com/gb/compare/disclaimer](https://wise.com/gb/compare/disclaimer)\n\nIf you have questions or suspect any data to be inaccurate or incomplete please contact us at: [comparison@wise.com](mailto:comparison@wise.com)\n\nDelivery Estimation {% #comparison-delivery-estimation .title-3 .m-t-5 %}\n\nSimilar to price, we collect speed data for most (if not all) providers which we have price information for. Many providers display speed estimates to their customers in a number of different ways.\n\nSome examples:\n\n- \u0022The transfer should be complete within 2-5 days\u0022\n- \u0022The money should arrive in your account within 48 hours\u0022\n- \u0022Should arrive by 26th Aug\u0022\n- \u0022Could take up to 4 working days\u0022\n\nThe below API intends to model these in a consistent format by providing a minimum and maximum range for all delivery estimations. An estimate that states \u0022up to X\u0022 will have \u0022max\u0022 set to a duration but \u0022min\u0022 as null; \u0022from X\u0022 will have \u0022min\u0022 set to a duration and \u0022max\u0022 as null. Finally, for those providers who offer a specific, point in time estimation (like Wise), the API will surface a duration where \u0022min\u0022 and \u0022max\u0022 are equal.\n\nQuotes structure {% #comparison-quotes-structure .title-3 .m-t-5 %}\n\nIn order to provide the most flexible and accurate data for clients, we surface a denormalized list of quotes per provider where each quote represents a unique collection of comparison \u0022dimensions\u0022.\n\nA single given provider may expose multiple quotes for the same currency route. The most common example is where a provider offers different pricing for two different countries which use the same currency, e.g.:\n\nProvider X:\n\n- GBP EUR 1000 [GB -\u003E ES] fee: 10, rate: 1.5\n- GBP EUR 1000 [GB -\u003E DE] fee: 8, rate: 1.5\n- GBP EUR 1000 [GB -\u003E FR] fee: 10, rate: 1.35\n\nThe same principle applies for speed, i.e. a provider may have different speed estimates for different target countries. Hence, we expose these as discrete quotes, where a quote is a unique combination of route, country, speed and price factors.\n\nA client may choose to reduce this set of quotes down to a single or several quotes in order to display a relevant quote to a given user. An example where we take the cheapest quote for a given currency route (and also surface the target country) can be seen at the below link:\n\n[https://wise.com/gb/compare/?sourceCurrency=GBP\u0026targetCurrency=EUR\u0026sendAmount=1000](https://wise.com/gb/compare/?sourceCurrency=GBP\u0026targetCurrency=EUR\u0026sendAmount=1000)\n"},{"name":"contact","x-displayName":"Contacts","description":"Find discoverable Wise profiles and add them to your recipient list using an identifier \u2014 such as a Wisetag, email, or phone number \u2014 without needing bank details.\n\nCreating a transfer with a contact {% .title-3 .m-t-5 %}\n\n1. [Create a Quote](/api-reference/quote/quotecreate), passing \u0060contactId\u0060 instead of \u0060targetAccount\u0060 in the request body.\n2. Extract the \u0060targetAccount\u0060 value from the Quote response \u2014 Wise resolves the contact into a recipient account.\n3. [Create a Transfer](/api-reference/standard-transfer/transfercreate) using the \u0060targetAccount\u0060 from the Quote response.\n"},{"name":"currencies","x-displayName":"Currencies","description":"Retrieve the list of currencies supported for transfers, including currency codes and display names.\n"},{"name":"delivery-estimate","x-displayName":"Delivery Estimate","description":"Get the estimated delivery time for a transfer, showing when funds are expected to arrive in the recipient\u0027s bank account.\n"},{"name":"digital-wallet","x-displayName":"Digital Wallet","description":"These APIs provide encrypted cardholder information needed to implement push provisioning (Apple Pay, Google Pay) in your own mobile app.\n"},{"name":"direct-debit-account","x-displayName":"Direct Debit Account","description":"Register and retrieve external bank accounts used to fund batch transfers via ACH (USD) or EFT (CAD) direct debit.\n"},{"name":"disputes","x-displayName":"Disputes","description":"Raise and manage card transaction disputes, including submission via Dynamic Flow or direct API, file uploads, and dispute lifecycle tracking.\n\nFor implementation details, see:\n- [Disputes via Dynamic Flow](/guides/product/issue-cards/card-disputes-dynamic-flow) \u2014 build a dispute UI using the Dynamic Flow framework\n- [Disputes via API](/guides/product/issue-cards/card-disputes-api) \u2014 submit disputes directly, with per-reason request body details\n- [Dispute management](/guides/product/issue-cards/card-disputes-management) \u2014 track and withdraw disputes\n\nDispute sub-statuses {% #dispute-sub-status .title-3 .m-t-5 %}\n\nThe possible \u0060subStatus\u0060 values are:\n- \u0060SUBMITTED\u0060 \u2014 Initial status\n- \u0060IN_REVIEW\u0060 \u2014 The dispute is under review or requires additional information\n- \u0060REFUNDED\u0060 \u2014 The refund has been processed\n- \u0060REJECTED\u0060 \u2014 The dispute is invalid\n- \u0060WITHDRAWN\u0060 \u2014 The customer has withdrawn the dispute\n- \u0060CONFIRMED\u0060 \u2014 The dispute has been reviewed but a refund is not applicable\n- \u0060REFUND_IN_PROGRESS\u0060 \u2014 A refund is being processed\n- \u0060ATTEMPTING_RECOVERY\u0060 \u2014 A chargeback request has been submitted\n- \u0060RECOVERY_UNSUCCESSFUL\u0060 \u2014 The chargeback attempt was unsuccessful\n\n{% admonition type=\u0022warning\u0022 %}\nThe status transition diagram may undergo modifications in the future and only covers regular pathways.\n{% /admonition %}\n\n{% img\n  src=\u0022/images/diagrams/dispute-status-flow.png\u0022\n  alt=\u0022Dispute statuses transition diagram\u0022\n/%}\n"},{"name":"facetec","x-displayName":"FaceTec","description":"Wise leverages [FaceTec\u0027s](https://www.facetec.com/) facial biometric technology for authentication. Use this endpoint to retrieve the public key needed for exporting 3D FaceMaps.\n"},{"name":"jose","x-displayName":"JOSE","description":"Wise uses the [JOSE framework](https://jose.readthedocs.io/en/latest/) to accept and respond with signed and encrypted payloads. These endpoints allow you to manage keys and test your signing and encryption implementation.\n\nFor more information, please speak with your Implementation team.\n"},{"name":"kyc-review","x-displayName":"KYC Review","description":"KYC Review API provides endpoints to view, update and submit information related to the KYC flow.\n\nThere are two ways to collect KYC requirements from your customers:\n- **Hosted KYC** \u2014 redirect your customer to a Wise-hosted UI that guides them through the process.\n- **API submission** \u2014 use the [KYC Requirement Submit](/api-reference/kyc-review/kycreviewrequirementsubmit) endpoint to submit requirements directly. This is only available for requirement types where \u0060apiCollectionSupported\u0060 is \u0060true\u0060.\n\nPlease refer to our [Hosted KYC guide](/guides/product/kyc/wise-kyc/hosted-kyc) for more information on the general use of the endpoints included below.\n"},{"name":"link-requests","x-displayName":"Link Requests","description":"Embedded Flows are Wise-hosted flows that partners can open for their users or embed inside their own product with an iframe or mobile WebView.\n\nUse the embedded link request endpoints to create a short-lived flow URL for a profile or retrieve an embedded link request by ID. For an overview of when to use Embedded Flows, see the [Embedded Flows guide](/guides/product/embedded-flows/index.md).\n"},{"name":"multi-currency-account","x-displayName":"Multi Currency Account","description":"The Wise multi-currency account (MCA) enables users to hold, convert, and fund transfers (single or batches) with balances in up to 56 currencies. Of the 50\u002B currency balances supported, 10\u002B come with local account details.\n\nPlease refer to our [multi-currency account guide](/guides/product/accounts/managing-accounts) for more information on the general use of the endpoints included below.\n\nPlease see the [Balances APIs](/api-reference/balance) for more details.\n"},{"name":"oauth-token","x-displayName":"OAuth Token","description":"Exchange client credentials or authorisation grants for OAuth 2.0 access tokens. All grant types use \u0060POST /oauth/token\u0060 with basic authentication (your \u0060client_id\u0060 and \u0060client_secret\u0060).\n\nDepending on the grant type, this endpoint issues either a **client credentials token** or a **user token**.\n\nClient credentials token {% .title-3 .m-t-5 %}\n\nAn application-level token for requests that aren\u0027t tied to a specific Wise user, such as generating un-authenticated quotes and subscribing to application webhooks. Valid for 12 hours.\n\n- \u0060client_credentials\u0060 \u2014 the only grant type for this token.\n\nUser token {% .title-3 .m-t-5 %}\n\nA token for making API calls on behalf of a specific Wise user, such as creating transfers and managing balances. Access tokens are valid for 12 hours and can be refreshed using a refresh token. Grant types:\n\n- \u0060registration_code\u0060 \u2014 for partners that create Wise users via API. Exchanges a registration code for a user access token and refresh token.\n- \u0060authorization_code\u0060 \u2014 for partners using the OAuth redirect flow. Exchanges an authorisation code for a user access token and refresh token.\n- \u0060refresh_token\u0060 \u2014 obtain a new user access token without requiring the user to re-authorise.\n\nManaging token expiration {% #managing-token-expiration .title-3 .m-t-5 %}\n\nAccess tokens are valid for 12 hours. You can request a new access token whenever it\u0027s close to expiring \u2014 there is no need to wait for the actual expiration to happen first. Depending on how your application uses the Wise Platform API, requesting a new access token before attempting a series of API calls on behalf of an individual user will avoid issues with expired access tokens.\n"},{"name":"case","x-displayName":"Partner Cases","description":"Partner Cases are part of the Partner Support API, allowing partners to open, retrieve and respond to support and operations queries.\n\nThe endpoints described here allow partners to directly integrate their back end tooling with Wise\u0027s, allowing faster responses, better structure to data, and operational efficiencies.\n\n{% admonition type=\u0022warning\u0022 %}\nThe Partner Support APIs are currently in a closed Beta and subject to change. Please speak with your implementation manager if you would like to integrate with these APIs.\n{% /admonition %}\n\nCase Statuses {% #case-statuses .title-3 .m-t-5 %}\n\nPartner cases can move through different statuses.\n\n| Status | Transitions to | Description |\n|--------|---------------|-------------|\n| \u0060CREATING\u0060 | OPEN | Cases being created by Wise from a Partner call. Once created, cases move into the open status. |\n| \u0060OPEN\u0060 | PENDING, SOLVED, CLOSED | Cases being actioned by Wise. Partners do not need to action these cases. Note that we may update a case in this status and not change it. |\n| \u0060PENDING\u0060 | OPEN, SOLVED, CLOSED | Cases that require additional information from the partner. You should action these cases by reviewing the newest comment and updating the case. |\n| \u0060SOLVED\u0060 | OPEN, PENDING, CLOSED | Cases that have been solved and scheduled for closure. These can be re-opened by the partner or Wise if needed before closing. |\n| \u0060CLOSED\u0060 | \u2014 | Cases that have been solved and closed. Once closed, they cannot be reopened and a new case should be created if needed. |\n\n{% img src=\u0022/images/diagrams/case-flow.png\u0022 /%}\n"},{"name":"payins","x-displayName":"Payins","description":"The payin APIs allow you to fund the MCA or transfers with local payment rails, by retrieving or creating the relevant details to send to for funding a payment. \n\nThese details will be provided in the local format for that currency, and also includes the name and address of the receiving bank."},{"name":"payin-deposit-detail","x-displayName":"Payin Deposit Detail","description":"The payin deposit details API allows you to get the bank details for the account that the customer should send funds to when paying for a Wise transfer via a bank transfer.\n\nThese details will be provided in the local format for that currency and usually contain bank account information \u2014 like IBAN, SWIFT code etc. It also includes the name and address of the receiving bank and the name and address of the Wise entity that owns the bank account, as sometimes these are required to make a payment.\n"},{"name":"profile","x-displayName":"Profiles","description":"A profile represents an identity that can send and receive money through Wise \u2014 either a personal profile (an individual) or a business profile (a company). Most API endpoints require a \u0060profileId\u0060 parameter, which is the ID of either profile type.\n\n"},{"name":"quote","x-displayName":"Quotes","description":"The quote resource defines the basic information required for a Wise transfer - the currencies to send between, the amount to send and the profile who is sending the money. The profile _must_ be included when creating a quote.\n\nQuote is one of the required resources to create a transfer, along with the recipient who is to receive the funds.\n\nThe quote response contains other information such as the exchange rate, the estimated delivery time and the methods the user can pay for the transfer. Not all of this information may apply to your use case.\n\nUpon creating a quote the current mid-market exchange rate is locked and will be used for the transfer that is created from the quote. The rate will be locked for 30 minutes to give a user time to complete the transfer creation flow.\n"},{"name":"rate","x-displayName":"Exchange Rates","description":"Current and historical exchange rates by currency routes.\n"},{"name":"recipient","x-displayName":"Recipient Accounts","description":"Recipient or beneficiary is the one who will receive the funds.\n\nRecipient account endpoints use a mixture of our v1 and v2 APIs. Please ensure you address the right version to get the expected results.\n\n{% admonition type=\u0022info\u0022 %}\nAll recipient IDs are cross compatible with v1 and v2.\n{% /admonition %}\n"},{"name":"simulation","x-displayName":"Simulations","description":"Use these endpoints to simulate key actions in the sandbox environment, including transfer state changes, balance top-ups, card transactions, KYC reviews, and incoming payments.\n\n{% admonition type=\u0022info\u0022 %}\nThese features are limited to sandbox only.\n{% /admonition %}\n"},{"name":"spend-controls","x-displayName":"Spend Controls","description":"Control which card transactions are permitted by creating rules based on merchant category code (MCC) or transaction currency.\n\nAn authorisation rule dictates whether transactions should be declined or approved based on a pre-determined set of rules. A transaction can only pass if it satisfies all the applied rules.\n\nCreating a rule has no practical implication until it is [applied](/api-reference/spend-controls/spendcontrolsruleapply). Applying a rule results in the authorisation rule being evaluated against every incoming card authorisation request.\n\nRules are scoped at the application level. Use a [client credentials token](/api-reference/oauth-token/oauthtokencreate) to call these endpoints.\n"},{"name":"spend-limits","x-displayName":"Spend Limits","description":"Manage spending limits applied to profiles and cards. Profile limits are shared across all cards under the same profile, while card limits apply to individual cards.\n\nFor more details on how profile and card limits interact, see the [card management guide](/guides/product/issue-cards/card-management#spend-limits).\n"},{"name":"sca-ott","x-displayName":"One Time Token","description":"One-time tokens are temporary authentication sessions used to track SCA challenges. When an SCA-protected endpoint is called, a one-time token is returned containing the challenges that must be completed.\n\nPlease read the [SCA over API guide](/guides/developer/auth-and-security/sca-over-api) to understand how SCA integration works.\n"},{"name":"sca-sessions","x-displayName":"SCA Sessions","description":"SCA sessions allow you to manually trigger Strong Customer Authentication, returning a one-time token along with a list of associated challenges. These challenges can be cleared using the verify endpoints for PIN, device fingerprints, and facemaps.\n\nPlease read the [SCA over API guide](/guides/developer/auth-and-security/sca-over-api) to understand how SCA integration works.\n\n{% admonition type=\u0022info\u0022 %}\nPlease reach out to your Implementation Manager to determine which challenges can be enabled.\n{% /admonition %}\n"},{"name":"sca-pin","x-displayName":"PIN","description":"PIN (Personal Identification Number) is a knowledge-based SCA challenge factor. Users create a 4-digit PIN that can be used to verify their identity when accessing SCA-protected endpoints.\n\nAll PIN creation and verification requests use JOSE (JWE) encryption to ensure the PIN is never transmitted in plain text. See the [SCA over API guide](/guides/developer/auth-and-security/sca-and-2fa) for encryption details."},{"name":"sca-device-fingerprints","x-displayName":"Device Fingerprints","description":"Device fingerprints are possession-based SCA challenge factors. They allow you to verify that a user is accessing the API from a recognized device.\n\nA profile can have up to 3 device fingerprints registered simultaneously. All device fingerprint operations use JOSE (JWE) encryption. See the [SCA over API guide](/guides/developer/auth-and-security/sca-and-2fa) for encryption details."},{"name":"sca-facemaps","x-displayName":"Facemaps","description":"Facemaps are inherence-based (biometric) SCA challenge factors that use FaceTec\u0027s 3D face recognition technology.\n\nFacemaps should be exported from your FaceTec server using their SDK\u0027s export API. Use Wise\u0027s [FaceTec public key](/api-reference/facetec/facetecpublickeyget) to encrypt the facemap during export."},{"name":"sca-otp","x-displayName":"OTP","description":"For phone-based OTP (one-time password) authentication \u2014 where an OTP is a single-use 6-digit code sent to verify the identity of a user \u2014 Wise supports multiple delivery methods, including SMS, WhatsApp, and voice. Use Wise\u0027s secure endpoint to [create](/api-reference/sca-otp/usersecurityphonenumbercreate) and register the end user\u0027s phone number. Then, call the trigger endpoints ([SMS](/api-reference/sca-otp/ottsmstrigger), [WhatsApp](/api-reference/sca-otp/ottwhatsapptrigger), [Voice](/api-reference/sca-otp/ottvoicetrigger)) to send an OTP to the registered number. Finally, submit the OTP via the verify endpoints ([SMS](/api-reference/sca-otp/ottsmsverify), [WhatsApp](/api-reference/sca-otp/ottwhatsappverify), [Voice](/api-reference/sca-otp/ottvoiceverify)) to complete the authentication challenge.\n\nPlease read the [SCA over API guide](/guides/developer/auth-and-security/sca-over-api) to understand how SCA integration works.\n"},{"name":"transfer","x-displayName":"Transfers","description":"A transfer is a payment order to a [recipient account](/api-reference/recipient) based on a [quote](/api-reference/quote).\n\nOnce created, a transfer usually needs to be funded within fourteen days. Otherwise, it will be automatically cancelled."},{"name":"standard-transfer","x-displayName":"Standard Transfers","description":"Create and manage transfers over API, either from your own Wise account or on behalf of your customers."},{"name":"third-party-transfer","x-displayName":"Third Party Transfers","description":"Create and manage transfers over API on behalf of your customers, under your own financial license."},{"name":"incoming-transfer","x-displayName":"Incoming Transfers","description":"{% admonition type=\u0022info\u0022 %}\nIncoming transfers are not publicly available. To get access, contact your Wise implementation manager.\n{% /admonition %}\n\nAn incoming transfer represents a payment received into a Wise balance via a supported payment rail (SWIFT, SEPA, Faster Payments, ACH, or the Wise network)."},{"name":"user","x-displayName":"Users","description":"A User serves as the primary entity and can possess multiple Profiles to represent different contexts or settings.\nA User can have one personal Profile and multiple business Profiles.\nEach [Profile](/api-reference/profile) \u2014 whether personal or business \u2014 can have its own [multi-currency account](/api-reference/multi-currency-account),\nenabling transactions across various currencies. This hierarchical structure allows for flexible management of user settings and financial operations,\naccommodating both personal and business needs.\n\n![User profile structure](/images/diagrams/user-profile-structure.svg)\n"},{"name":"user-security","x-displayName":"User Security","description":"{% admonition type=\u0022warning\u0022 %}\nThese endpoints are deprecated. Please refer to [PIN](/api-reference/sca-pin), [Facemaps](/api-reference/sca-facemaps), and [Device Fingerprints](/api-reference/sca-device-fingerprints) to integrate with SCA.\n{% /admonition %}\n\nUser security allows users to set up security-related protections over the API.\n"},{"name":"webhook","x-displayName":"Subscriptions","description":"Manage webhook subscriptions at both the application and profile level. Create, list, retrieve, and delete subscriptions, as well as test your webhook endpoints.\n\nFor more information on creating and managing webhooks, and specific event types, see [Webhooks \u0026 Notifications](/guides/developer/webhooks).\n"},{"name":"webhook-event","x-displayName":"Events","description":"Webhook events are notifications Wise sends to your server when specific actions occur. Subscribe to events using the [Webhook](/api-reference/webhook) endpoints at the application or profile level.\n\nSee the [Webhooks guide](/guides/developer/webhooks) for setup instructions, signature verification, and best practices.\n"}],"x-tagGroups":[{"name":"Authentication","tags":["oauth-token"]},{"name":"Enhanced Security","tags":["jose"]},{"name":"Users","tags":["user","claim-account"]},{"name":"Profiles","tags":["profile","activity","address"]},{"name":"Verification","tags":["kyc-review","verification","facetec"]},{"name":"Embedded Flows","tags":["link-requests"]},{"name":"Strong Customer Authentication","tags":["sca-ott","sca-sessions","sca-pin","sca-facemaps","sca-device-fingerprints","sca-otp","user-security"]},{"name":"Balances","tags":["balance","balance-statement","bank-account-details","multi-currency-account"]},{"name":"Issuing","tags":["card","card-sensitive-details","3ds","card-kiosk-collection","card-order","card-transaction","spend-limits","spend-controls","digital-wallet","disputes"]},{"name":"Quotes","tags":["quote","rate","comparison"]},{"name":"Recipients","tags":["recipient","contact"]},{"name":"Transfers","tags":["transfer","standard-transfer","third-party-transfer","delivery-estimate","currencies","batch-group"]},{"name":"Incoming Transfers","tags":["incoming-transfer"]},{"name":"Funding","tags":["payin-deposit-detail","direct-debit-account","bulk-settlement","payins"]},{"name":"Webhooks","tags":["webhook","webhook-event"]},{"name":"Simulations","tags":["simulation"]},{"name":"Partner Support","tags":["case"]}],"paths":{"/v3/spend/profiles/{profileId}/3dsecure/challenge-result":{"post":{"tags":["3ds"],"summary":"Inform challenge result","operationId":"3dsChallengeResultPost","security":[{"UserToken":[]}],"description":"Once the customer has accepted or rejected the push notification for a 3DS challenge, you can use this endpoint to notify us of the result.\n\nYou must call this endpoint before the expiration time, otherwise it will return a 400 error. You can find the expiration information from the [3DS challenge webhook event](/api-reference/webhook-event/eventcards3dschallenge).\n\nOnly the first call to this endpoint will be processed. Any subsequent duplicate requests will be ignored, although you will still receive a success response.\n\n{% admonition type=\u0022warning\u0022 %}\nThis endpoint is SCA protected when it applies. If your profile is registered within the UK and/or EEA, SCA most likely applies to you. For more information, please read [implementing SCA](/guides/developer/auth-and-security/sca-and-2fa).\n{% /admonition %}\n","parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID (personal or business) associated with the 3DS challenge."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChallengeResultRequest"}}}},"responses":{"204":{"description":"No Content - Challenge result has been successfully recorded.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/profiles/{profileId}/activities":{"get":{"tags":["activity"],"summary":"List Activities for a Profile","operationId":"activityList","description":"List of activities belonging to user profile.\n\nActivities represent snapshots of performed actions and can be filtered by various parameters to narrow down the results.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The unique identifier of the profile."},{"name":"monetaryResourceType","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ActivityResourceType"},"description":"Filter activity by resource type."},{"name":"status","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ActivityStatus"},"description":"Filter by activity status."},{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date-time","example":"2025-03-10T11:56:30.376Z"},"description":"Filter activity list after a certain timestamp. Use ISO 8601 format."},{"name":"until","in":"query","required":false,"schema":{"type":"string","format":"date-time","example":"2025-03-30T23:59:59.999Z"},"description":"Filter activity list until a certain timestamp. Use ISO 8601 format."},{"name":"nextCursor","in":"query","required":false,"schema":{"type":"string","example":""},"description":"Pagination cursor returned from a previous response. Use the \u0060cursor\u0060 value from the response to fetch the next page of activities.\n"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":10},"description":"Desired size of query. Min 1, max 100, and default value is 10 if not specified."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved activities.","content":{"application/json":{"schema":{"type":"object","description":"Response containing a list of activities for a profile.","properties":{"cursor":{"type":["string",null],"description":"Pagination cursor. Pass this value as the \u0060nextCursor\u0060 query parameter to fetch the next page of results. Returns \u0060null\u0060 when there are no more pages."},"activities":{"type":"array","description":"Array of activity objects.","items":{"$ref":"#/components/schemas/Activity"}}}},"example":{"cursor":"WyJQUklPUklUWSIsMTAwMDAxNjY5NzA4MjI0MDAwMDE2MDk5OV0=","activities":[{"id":"TU9ORVRBUllfQUNUSVZJVFk6OjE0NTU4OTk4OjpDQVJEX1RSQU5TQUNUSU9OOjozNDMwNDk=","type":"CARD_PAYMENT","resource":{"type":"CARD_TRANSACTION","id":343049},"title":"\u003Cstrong\u003ETest Payment\u003C/strong\u003E","description":"","primaryAmount":"150 JPY","secondaryAmount":"1.50 SGD","status":"COMPLETED","createdOn":"2023-01-01T00:00:00.000Z","updatedOn":"2023-01-01T00:00:00.000Z"}]}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v3/profiles/{profileId}/additional-verification/upload-evidences":{"post":{"deprecated":true,"tags":["verification"],"summary":"Upload Evidences (v3)","operationId":"verificationUploadEvidencesV3","description":"Uploads verification evidence for a specific profile.\n\nThe request body varies significantly between **Personal** and **Business** profiles.\n","security":[{"UserToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The unique identifier of the profile."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"title":"Personal Profile","type":"object","description":"Payload for Personal profile verification.","example":{"accountPurpose":"MOVING_SAVINGS","intendedCountries":["deu","esp"],"yearlyAnticipatedVolume":"0_2350","mainSourceOfIncome":"SALARY","annualIncome":"0_11500"},"properties":{"accountPurpose":{"type":"string","description":"The primary reason for using the account.","enum":["MOVING_SAVINGS","SENDING_MONEY_TO_FRIENDS_OR_FAMILY","GENERAL_LIVING_EXPENSES","BUYING_GOODS_OR_SERVICES_ABROAD","PAYING_FOR_MORTGAGE_OR_LOAN","PAYING_BILLS","RECEIVING_SALARY_OR_PENSION","INVESTING"]},"accountPurposeExplanation":{"type":"string","description":"Additional reasons and specific examples for using Wise account. This is a free-text field."},"intendedCountries":{"type":"array","description":"List of ISO 3166-1 alpha-3 country codes.\u003Cbr\u003E\nCheck the [lists of countries you can send money to with Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).\n","items":{"type":"string"}},"yearlyAnticipatedVolume":{"type":"string","description":"Expected yearly transaction volume in Euros.","enum":["0_2350","2351_6000","6001_11500","11501_60000","60001_175000","175001_\u002B"]},"mainSourceOfIncome":{"type":"string","description":"Primary source of income. Must be submitted with annualIncome.","enum":["SALARY","INVESTMENTS","PENSION","INHERITANCE","LOAN","OTHER"]},"annualIncome":{"type":"string","description":"Expected annual income in Euros. Must be submitted with mainSourceOfIncome.","enum":["0_11500","11501_19000","19001_28500","28501_47500","47501_75000","75001_\u002B"]},"incomeExplanation":{"type":"string","description":"Additional ways you earn money that were not identified in the provided documents. This is a free-text field."}}},{"title":"Business Profile","type":"object","description":"Payload for Business profile verification.","example":{"businessUseCase":["PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES","PAYING_RENT_OR_UTILITIES"],"intendedCountries":["deu","esp"],"monthlyAnticipatedVolume":"0_1200","mainSourceOfFunding":"BUSINESS_LOAN"},"properties":{"businessUseCase":{"type":"array","description":"How the business intends to use the platform.","items":{"type":"string","enum":["INVESTING_IN_FUNDS_STOCKS_BONDS_OR_SIMILAR","DISTRIBUTING_COMPANY_PROFITS_OR_PAYING_DIVIDENDS","PAYING_MORTGAGE_BANK_LOAN_INSURANCE_OR_CREDIT","PAYING_FOR_GOODS_PROPERTIES_OR_SERVICES_ABROAD","PAYING_RENT_OR_UTILITIES","PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES","PAYING_TAX_ON_PROFIT_OR_PROPERTY","TRANSFER_WITHIN_COMPANY_OR_GROUP","RECEIVE_INVESTMENTS_OR_FUNDS","RECEIVE_PAYMENTS_FROM_CLIENTS","DONATION","OTHER"]}},"intendedCountries":{"type":"array","description":"List of ISO 3166-1 alpha-3 country codes.\u003Cbr\u003E\nCheck the [lists of countries you can send money to with Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).\n","items":{"type":"string"}},"mainSourceOfFunding":{"type":"string","description":"Primary source of business funding.","enum":["REVENUE","BUSINESS_LOAN","FUNDING_AND_SHAREHOLDER_INVESTMENTS","INVESTMENT_INCOME","DONATIONS","GRANTS","OTHER"]},"monthlyAnticipatedVolume":{"type":"string","description":"Expected monthly transaction volume in Euros.","enum":["0_1200","1201_6000","6001_12000","12001_60000","60001_120000","120001_235000","235001_600000","600001_1200000","1200001_6000000","6000001_12000000","12000001_\u002B"]}}}]}}}},"responses":{"204":{"description":"No Content - Evidence successfully uploaded.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"400":{"description":"Bad Request - Invalid request payload (e.g. no evidence, misspelled evidence, unexpected value).\nInvalid evidence is populated in the response message.\nNote that correct evidence might be successfully uploaded.\n","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"403":{"description":"Forbidden - The client is not authorized to perform this request.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"409":{"description":"Conflict - One or more evidences are already uploaded and can\u0027t be re-submitted without an agent review.\nUnacceptable evidence is populated in the response message.\n","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v5/profiles/{profileId}/additional-verification/upload-evidences":{"post":{"tags":["verification"],"summary":"Upload Evidences","operationId":"verificationUploadEvidences","description":"Uploads verification evidence for a specific profile.\n\nThe request body varies significantly between **Personal** and **Business** profiles.\n\nSubmitting an evidence that was already uploaded will result in an attempt to update the evidence.\n","security":[{"UserToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The unique identifier of the profile."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"title":"Personal Profile","type":"object","description":"Payload for Personal profile verification.","example":{"accountPurpose":"MOVING_SAVINGS","intendedCountries":["deu","esp"],"yearlyAnticipatedVolume":"0_2350","mainSourceOfIncome":"SALARY","annualIncome":"0_11500"},"properties":{"accountPurpose":{"type":"string","description":"The primary reason for using the account.","enum":["MOVING_SAVINGS","SENDING_MONEY_TO_FRIENDS_OR_FAMILY","GENERAL_LIVING_EXPENSES","BUYING_GOODS_OR_SERVICES_ABROAD","PAYING_FOR_MORTGAGE_OR_LOAN","PAYING_BILLS","RECEIVING_SALARY_OR_PENSION","INVESTING"]},"accountPurposeExplanation":{"type":"string","description":"Additional reasons and specific examples for using Wise account. This is a free-text field."},"intendedCountries":{"type":"array","description":"List of ISO 3166-1 alpha-3 country codes.\u003Cbr\u003E\nCheck the [lists of countries you can send money to with Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).\n","items":{"type":"string"}},"yearlyAnticipatedVolume":{"type":"string","description":"Expected yearly transaction volume in Euros.","enum":["0_2350","2351_6000","6001_11500","11501_60000","60001_175000","175001_\u002B"]},"mainSourceOfIncome":{"type":"string","description":"Primary source of income. Must be submitted with annualIncome.","enum":["SALARY","INVESTMENTS","PENSION","INHERITANCE","LOAN","OTHER"]},"annualIncome":{"type":"string","description":"Expected annual income in Euros. Must be submitted with mainSourceOfIncome.","enum":["0_11500","11501_19000","19001_28500","28501_47500","47501_75000","75001_\u002B"]},"incomeExplanation":{"type":"string","description":"Additional ways you earn money that were not identified in the provided documents. This is a free-text field."}}},{"title":"Business Profile","type":"object","description":"Payload for Business profile verification.","example":{"businessUseCase":["PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES","PAYING_RENT_OR_UTILITIES"],"intendedCountries":["deu","esp"],"monthlyAnticipatedVolume":"0_1200","mainSourceOfFunding":"BUSINESS_LOAN"},"properties":{"businessUseCase":{"type":"array","description":"How the business intends to use the platform.","items":{"type":"string","enum":["INVESTING_IN_FUNDS_STOCKS_BONDS_OR_SIMILAR","DISTRIBUTING_COMPANY_PROFITS_OR_PAYING_DIVIDENDS","PAYING_MORTGAGE_BANK_LOAN_INSURANCE_OR_CREDIT","PAYING_FOR_GOODS_PROPERTIES_OR_SERVICES_ABROAD","PAYING_RENT_OR_UTILITIES","PAYING_SUPPLIERS_CONTRACTORS_OR_EMPLOYEES","PAYING_TAX_ON_PROFIT_OR_PROPERTY","TRANSFER_WITHIN_COMPANY_OR_GROUP","RECEIVE_INVESTMENTS_OR_FUNDS","RECEIVE_PAYMENTS_FROM_CLIENTS","DONATION","OTHER"]}},"intendedCountries":{"type":"array","description":"List of ISO 3166-1 alpha-3 country codes.\u003Cbr\u003E\nCheck the [lists of countries you can send money to with Wise](https://wise.com/help/articles/2571942/what-countries-can-i-send-to).\n","items":{"type":"string"}},"mainSourceOfFunding":{"type":"string","description":"Primary source of business funding.","enum":["REVENUE","BUSINESS_LOAN","FUNDING_AND_SHAREHOLDER_INVESTMENTS","INVESTMENT_INCOME","DONATIONS","GRANTS","OTHER"]},"monthlyAnticipatedVolume":{"type":"string","description":"Expected monthly transaction volume in Euros.","enum":["0_1200","1201_6000","6001_12000","12001_60000","60001_120000","120001_235000","235001_600000","600001_1200000","1200001_6000000","6000001_12000000","12000001_\u002B"]}}}]}}}},"responses":{"207":{"description":"Multi-Status - Evidence(s) successfully uploaded, fully or partially.","content":{"application/json":{"schema":{"type":"object","description":"Response payload for evidence upload result.","properties":{"overallStatus":{"type":"string","description":"Status of the entire request.","enum":["SUCCESS","PARTIAL_SUCCESS","FAIL"]},"results":{"type":"array","description":"Results for each evidence.","items":{"type":"object","properties":{"evidenceRequirementKey":{"type":"string","description":"Name of the evidence."},"result":{"type":"string","description":"Result for the evidence.","enum":["SUCCESS","FAIL"]},"message":{"type":"string","description":"Explanation of result for the evidence."}}}}}},"examples":{"success":{"summary":"Full success","value":{"overallStatus":"SUCCESS","results":[{"evidenceRequirementKey":"accountPurpose","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"annualIncome","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"intendedCountries","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"mainSourceOfIncome","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"yearlyAnticipatedVolume","result":"SUCCESS","message":"SUCCESS"}]}},"partialSuccess":{"summary":"Partial success","value":{"overallStatus":"PARTIAL_SUCCESS","results":[{"evidenceRequirementKey":"accountPurpose","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"annualIncome","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"intendedCountries","result":"FAIL","message":"Could not update verification requirement at the moment"},{"evidenceRequirementKey":"mainSourceOfIncome","result":"SUCCESS","message":"SUCCESS"},{"evidenceRequirementKey":"yearlyAnticipatedVolume","result":"SUCCESS","message":"SUCCESS"}]}}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"400":{"description":"Bad Request - Invalid request payload (e.g. no evidence, misspelled evidence, unexpected value).","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"403":{"description":"Forbidden - The client is not authorized to perform this request.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v3/profiles/{profileId}/verification-status/upload-document":{"post":{"tags":["verification"],"summary":"Upload Document","operationId":"verificationUploadDocument","description":"Uploads verification documents for review. You can upload multiple files at once.\n\nA valid document must fulfil these requirements:\n\n- The document must be clear.\n- The document needs to be a .jpg, .png., or .pdf file type up to 10MB in size.\n","security":[{"UserToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID (personal or business)."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","description":"Request payload for uploading documents for verification","properties":{"files":{"type":"string","format":"binary","description":"Path of the files to be uploaded.","example":"@/Users/test/file.png"},"documentType":{"type":"string","description":"Type of document being uploaded.\n\nRead our guides on acceptable documents for each of the following:\n- Source of wealth - [guide](/guides/product/kyc/partner-kyc/additional-verification#source-of-wealth-document)\n- Id Proof - [guide](https://wise.com/help/articles/2949801/how-does-wise-verify-my-identity?origin=search-ID\u002Bcoument\u002B)\n- Address Proof - [guide](https://wise.com/help/articles/2949804/how-does-wise-verify-my-address?origin=search-proof\u002Bof\u002Baddress\u002B)\n- Trading Address Proof - [guide](/guides/product/kyc/partner-kyc/additional-verification#proof-of-trading-address-document)\n- Business Authorisation Letter - [guide](/guides/product/kyc/partner-kyc/additional-verification#business-authorisation-letter-document)\n","enum":["SOURCE_OF_WEALTH","ID_PROOF","ADDRESS_PROOF","TRADING_ADDRESS_PROOF","BUSINESS_AUTH_REP_PROOF_BY_AUTH_LETTER"]}},"required":["files","documentType"]}}}},"responses":{"204":{"description":"No Content - Document successfully uploaded.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"400":{"description":"Bad Request - Document cannot be uploaded in the current format. Check file size and extension.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"403":{"description":"Forbidden - The client is not authorized to perform this request.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"409":{"description":"Conflict - Document is already uploaded and cannot be re-submitted before review.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"413":{"description":"Payload Too Large - Requested file size is too large.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"415":{"description":"Unsupported Media Type - Request payload is in an unsupported format.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v3/profiles/{profileId}/verification-status/required-evidences":{"get":{"tags":["verification"],"summary":"Required Evidences","operationId":"verificationGetRequiredEvidences","description":"Fetches the required evidences for a profile to complete additional customer verification.\n\nIf one or more evidences are returned, the customer should submit those evidences using the upload-evidences endpoint.\n\nSee the [Supported Evidences guide](/guides/product/kyc/partner-kyc/supported-evidences) for the list of possible evidence types and how to submit them.\n","security":[{"UserToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The unique identifier of the profile."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved required evidences.","content":{"application/json":{"schema":{"type":"object","description":"Response payload containing required evidences for a profile.","properties":{"required_evidences":{"type":"array","description":"List of evidence types required to complete verification.","items":{"type":"string"}}}},"example":{"required_evidences":["SOURCE_OF_WEALTH","INCOME","USE_CASE_COUNTRIES"]}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"403":{"description":"Forbidden - The client is not authorized to perform this request.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/addresses":{"post":{"tags":["address"],"summary":"Create or Update an Address","operationId":"addressCreate","description":"Adds address info to user profile.\n\nList of required fields are different for different countries. Use the [address requirements endpoint](#operation/addressRequirementsGet) to dynamically discover required fields.\n\nFor updating personal profiles, consider using [the personal profile update endpoint](/api-reference/profile/profilepersonalupdate) instead. It allows submitting the address information alongside other profile data.\n\n**State field** is required for US, CA, BR, and AU addresses.\n\n**Occupations** is required for CA, IN, JP, ID, IL, MX, and within the US for the state NM.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequest"}}}},"responses":{"200":{"description":"OK - Address successfully created or updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Address"},"example":{"id":10000001,"profile":12345678,"details":{"country":"US","state":"AZ","city":"Phoenix","postCode":10025,"firstLine":"50 Sunflower Ave","occupations":[{"code":"Software Engineer","format":"FREE_FORM"}]}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}},"parameters":[{"$ref":"#/components/parameters/X-External-Correlation-Id"}]},"get":{"tags":["address"],"summary":"List Addresses for a Profile","operationId":"addressList","description":"List of addresses belonging to user profile.","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profile","in":"query","example":12345678,"schema":{"type":"integer","format":"int64"},"description":"The profile ID to list addresses for."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved addresses.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Address"}},"example":[{"id":10000001,"profile":12345678,"details":{"country":"US","state":"AZ","city":"Phoenix","postCode":10025,"firstLine":"50 Sunflower Ave","occupations":[{"code":"Software Engineer","format":"FREE_FORM"}]}}]}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/addresses/{addressId}":{"get":{"tags":["address"],"summary":"Retrieve an Address by ID","operationId":"addressGet","description":"Get address info by ID.","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The unique identifier of the address."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved the address.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Address"},"example":{"id":10000001,"profile":12345678,"details":{"country":"US","state":"AZ","city":"Phoenix","postCode":10025,"firstLine":"50 Sunflower Ave","occupations":[{"code":"Software Engineer","format":"FREE_FORM"}]}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/address-requirements":{"get":{"tags":["address"],"summary":"Get Address Requirements","operationId":"addressRequirementsGet","description":"Returns the list of fields required to create a valid address. Use this as a starting point to discover required fields.\n\nThe response contains 4 required top-level fields:\n- \u0060country\u0060 (select field with list of values)\n- \u0060city\u0060 (text field)\n- \u0060postCode\u0060 (text field)\n- \u0060firstLine\u0060 (text field)\n\nIf a field has \u0060refreshRequirementsOnChange: true\u0060, call the POST endpoint with that field\u0027s value to discover additional required fields.\n\nFor a step-by-step walkthrough, see the [Address Requirements guide](/guides/developer/api-guides/address-requirements).\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"responses":{"200":{"description":"OK - Successfully retrieved address requirements.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequirementsResponse"}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}},"parameters":[{"$ref":"#/components/parameters/X-External-Correlation-Id"}]},"post":{"tags":["address"],"summary":"Get Address Requirements (with context)","operationId":"addressRequirementsPost","description":"Returns the list of fields required to create a valid address, based on the provided context.\n\nUse this endpoint to dynamically discover additional required fields based on selected values. For example:\n- Posting \u0060{\u0022details\u0022: {\u0022country\u0022: \u0022US\u0022}}\u0060 will add \u0022state\u0022 to the list of fields.\n- Posting \u0060{\u0022details\u0022: {\u0022country\u0022: \u0022CA\u0022}}\u0060 will add \u0022occupations\u0022 to the list of fields.\n\nContinue calling this endpoint with field values until all fields with \u0060refreshRequirementsOnChange: true\u0060 have been populated.\n\nFor a step-by-step walkthrough, see the [Address Requirements guide](/guides/developer/api-guides/address-requirements).\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequirementsRequest"},"example":{"details":{"country":"US"}}}}},"responses":{"200":{"description":"OK - Successfully retrieved address requirements.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequirementsResponse"}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}},"parameters":[{"$ref":"#/components/parameters/X-External-Correlation-Id"}]}},"/v4/profiles/{profileId}/balances":{"post":{"tags":["balance"],"summary":"Create a Balance Account","operationId":"balanceCreate","description":"Opens a balance within the specified profile, in the currency and type specified in the request.\n\nFor \u0060STANDARD\u0060 balances, only one can be created per currency. For \u0060SAVINGS\u0060 balances, multiple in the same currency can be opened.\n\nWhen creating a \u0060SAVINGS\u0060 type balance, a \u0060name\u0060 is required.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"name":"X-idempotence-uuid","in":"header","required":true,"schema":{"type":"string","format":"uuid"},"description":"Unique identifier assigned by you. Used for idempotency check purposes. Should your call fail for technical reasons then you can use the same value again for making a retry call."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Request body for creating a balance account.","required":["currency","type"],"properties":{"currency":{"type":"string","description":"Currency code (ISO 4217 Alphabetic Code).","example":"EUR"},"type":{"$ref":"#/components/schemas/BalanceType"},"name":{"type":"string","description":"Name of the balance. Required for SAVINGS type balances."}}},"example":{"currency":"EUR","type":"STANDARD"}}}},"responses":{"201":{"description":"Created - Balance successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Balance"}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}},"get":{"tags":["balance"],"summary":"List Balances for a Profile","operationId":"balanceList","description":"Retrieves the user\u0027s multi-currency account balance accounts. Returns all balance accounts the profile has in the types specified.\n\nThe \u0060types\u0060 parameter must include at least one type. To return more than one type, comma-separate the values.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"name":"types","in":"query","required":true,"schema":{"type":"string"},"description":"Comma-separated list of balance types to return. Acceptable values are \u0060STANDARD\u0060 and \u0060SAVINGS\u0060.","example":"STANDARD"},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved balances.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Balance"}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v4/profiles/{profileId}/balances/{balanceId}":{"get":{"tags":["balance"],"summary":"Retrieve a Balance by ID","operationId":"balanceGet","description":"Returns a balance based on the specified balance ID.","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"name":"balanceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The balance ID."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved the balance.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Balance"}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}},"delete":{"tags":["balance"],"summary":"Remove a Balance Account","operationId":"balanceDelete","description":"Closes a balance account for the user\u0027s profile.\n\nBalance accounts must have a zero balance to be closed. Bank account details for the balance will also be deactivated and may not be restored.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"name":"balanceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The balance ID."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"204":{"description":"No Content - Balance successfully removed.","headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v2/profiles/{profileId}/balance-movements":{"post":{"tags":["balance"],"summary":"Convert or Move Money Between Balances","operationId":"balanceMovement","description":"This endpoint allows conversion and movement of funds between balance accounts.\n\n**Convert across balance accounts:**\nConvert funds between two \u0060STANDARD\u0060 balance accounts in different currencies. Requires a quote created with \u0060\u0022payOut\u0022: \u0022BALANCE\u0022\u0060.\n\n**Move money between balances:**\n- Add money to a same-currency jar (move from \u0060STANDARD\u0060 to \u0060SAVINGS\u0060 without conversion)\n- Add money to another-currency jar (convert money using a quote)\n- Withdraw money from a jar (move from \u0060SAVINGS\u0060 to \u0060STANDARD\u0060 without conversion)\n\nEither \u0060amount\u0060 or \u0060quoteId\u0060 is required. Use \u0060quoteId\u0060 for cross-currency movements.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"name":"X-idempotence-uuid","in":"header","required":true,"schema":{"type":"string","format":"uuid"},"description":"Unique identifier assigned by you. Used for idempotency check purposes. Should your call fail for technical reasons then you can use the same value again for making a retry call."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Request body for balance movements (conversion or transfer).","properties":{"quoteId":{"type":"string","format":"uuid","description":"Quote ID. Required for cross-currency movements. Quote must be created with \u0060payOut: BALANCE\u0060."},"sourceBalanceId":{"type":"integer","format":"int64","description":"Source balance ID. Required when moving between balances (with targetBalanceId)."},"targetBalanceId":{"type":"integer","format":"int64","description":"Target balance ID. Required when moving between balances (with sourceBalanceId)."},"amount":{"type":"object","description":"Amount to move. Required for same-currency movements. Either \u0060amount\u0060 or \u0060quoteId\u0060 must be provided.","properties":{"value":{"type":"number","description":"Amount value."},"currency":{"type":"string","description":"Currency code (ISO 4217 Alphabetic Code)."}}}}},"examples":{"conversion":{"summary":"Convert between currencies","value":{"quoteId":"00000000-0000-0000-0000-000000000000"}},"move":{"summary":"Move within same currency","value":{"sourceBalanceId":1,"targetBalanceId":2,"amount":{"value":100,"currency":"EUR"}}}}}}},"responses":{"201":{"description":"Created - Movement completed successfully.","content":{"application/json":{"schema":{"type":"object","description":"Response from a balance movement operation.","properties":{"id":{"type":"integer","format":"int64","description":"Movement transaction ID.","example":30000001},"type":{"type":"string","description":"Type of movement.","enum":["DEPOSIT","WITHDRAWAL","CONVERSION"],"example":"CONVERSION"},"state":{"type":"string","description":"State of the movement.","enum":["PENDING","COMPLETED","CANCELLED","REVERSED"],"example":"COMPLETED"},"balancesAfter":{"type":"array","description":"Balance states after the movement.","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Balance ID.","example":1},"value":{"type":"number","description":"Balance value after movement.","example":10000595},"currency":{"type":"string","description":"Currency code.","example":"GBP"}}}},"creationTime":{"type":"string","format":"date-time","description":"When the movement was created.","example":"2017-11-21T09:55:49.275Z"},"sourceAmount":{"type":"object","description":"Source amount of the movement.","properties":{"value":{"type":"number","example":113.48},"currency":{"type":"string","example":"EUR"}}},"targetAmount":{"type":"object","description":"Target amount of the movement.","properties":{"value":{"type":"number","example":100},"currency":{"type":"string","example":"GBP"}}},"rate":{"type":"number","description":"Exchange rate applied to the conversion.","example":0.88558},"feeAmounts":{"type":"array","description":"Fee amounts charged for the movement.","items":{"type":"object","properties":{"value":{"type":"number","example":0.56},"currency":{"type":"string","example":"EUR"}}}},"steps":{"type":"array","description":"Steps involved in the movement.","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Step ID.","example":369588},"type":{"type":"string","description":"Step type.","example":"CONVERSION"},"creationTime":{"type":"string","format":"date-time","description":"When the step was created.","example":"2017-11-21T09:55:49.276Z"},"balancesAfter":{"type":"array","items":{"type":"object","properties":{"value":{"type":"number","example":9998887},"currency":{"type":"string","example":"EUR"}}}},"sourceAmount":{"type":"object","properties":{"value":{"type":"number","example":113.48},"currency":{"type":"string","example":"EUR"}}},"targetAmount":{"type":"object","properties":{"value":{"type":"number","example":100},"currency":{"type":"string","example":"GBP"}}},"fee":{"type":"object","properties":{"value":{"type":"number","example":0.56},"currency":{"type":"string","example":"EUR"}}},"rate":{"type":"number","description":"Exchange rate applied.","example":0.88558}}}}}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/profiles/{profileId}/balance-capacity":{"get":{"tags":["balance"],"summary":"Retrieve Deposit Limits","operationId":"balanceCapacity","description":"Returns the deposit limit for a profile based on regulatory requirements.\n\nUseful for personal profiles located in countries that have hold limits. We advise calling this API before depositing money into an account if the profile is located in Singapore or Malaysia.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"name":"currency","in":"query","required":true,"schema":{"type":"string"},"description":"Currency code (ISO 4217 Alphabetic Code). The deposit limit will be returned in this currency.","example":"SGD"},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"responses":{"200":{"description":"OK - Successfully retrieved deposit limits.","content":{"application/json":{"schema":{"type":"object","description":"Deposit limit information for a profile.","properties":{"hasLimit":{"type":"boolean","description":"True if there is a regulatory hold limit for the profile\u0027s country.","example":true},"depositLimit":{"type":"object","description":"Amount of money that can be added to the account.","properties":{"amount":{"type":"number","description":"Deposit limit amount.","example":2000},"currency":{"type":"string","description":"Currency code (ISO 4217 Alphabetic Code).","example":"SGD"}}}}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/profiles/{profileId}/excess-money-account":{"post":{"tags":["balance"],"summary":"Add an Excess Money Account","operationId":"excessMoneyAccount","description":"If a balance goes over the regulatory hold limit, excess funds are automatically moved to another account at the end of the day.\n\nUse this endpoint to specify a recipient where excess money will be transferred.\n\nPrimarily used for Singapore and Malaysia customers.\n","security":[{"UserToken":[]},{"PersonalToken":[]}],"parameters":[{"name":"profileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"The profile ID."},{"$ref":"#/components/parameters/X-External-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Request body for configuring an excess money account.","required":["recipientId"],"properties":{"recipientId":{"type":"integer","format":"int64","description":"ID of the recipient for excess money transfers.","example":148393305}}}}}},"responses":{"200":{"description":"OK - Excess money account configured successfully.","content":{"application/json":{"schema":{"type":"object","description":"Response from configuring an excess money account.","properties":{"userProfileId":{"type":"integer","format":"int64","description":"ID of the profile.","example":12321323},"recipientId":{"type":"integer","format":"int64","description":"ID of the recipient for excess money transfers.","example":148393305}}}}},"headers":{"X-External-Correlation-Id":{"$ref":"#/components/headers/X-External-Correlation-Id"},"x-trace-id":{"$ref":"#/components/headers/x-trace-id"}}},"429":{"$ref":"#/components/responses/429"}}}},"/v1/profiles/{profileId}/total-funds/{currency}":{"get":{"tags":["balance"],"summary":"Get Total Funds","operationId":"totalFunds","description":"Provides an
[...]
